@import '../../../../scss/abstracts/colors',
 '../../../../scss/components/helpers',
  '../../../../scss/base/mixin';

.form-box {
  max-width: 350px;
}

.remember {
  margin: 20px 0 10px;
  text-align: center;
}

.logo-title {
  font-size: 40px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.copyright-label {
  position: relative;

  img {
    cursor: pointer;
  }
}


.language-container {
  padding-top: 10px;
  width: 100px;
}

.forgot-password {
  text-align: center;
  margin: 5px 0 0;
}

.from-reset {
  font-size: 18px;
  margin: 10px auto !important;
  color: green;
  max-width: 450px;
  text-align: center;
}

input[type="checkbox"] {
  display: none!important;
}

/*------ 1st checkboxes  ----*/

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}


input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid map-get($form-colors, lightgrey);
  background: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: '';
  @include position(absolute, 2px null null 3.5px);
  width: 11px;
  height: 5px;
  transition: all .5s;
  margin: 0;
  padding: 0;
  border: 2px solid map-get($form-colors, grey);
  border-top: none;
  border-right: none;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0) rotate(-45deg);
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1) rotate(-45deg);
}

input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  opacity: 0.35;
  cursor: default;
}

.forgot-password-link {
  @extend .border-animation;
  margin: 10px 0;
}

.link {
  text-align: center;
  margin: 10px 0;
}

.link-back {
  cursor: pointer;
}
