@import '../../../../scss/abstracts/colors',
'../../../../scss/base/mixin',
'../../../../scss/abstracts/variables',
'../../../../scss/components/helpers';

$category-shadow: 0 0 10px 3px rgba(#000, 0.1);

.menu {
  z-index: $z-index3;
  padding: 10px 0;
  height: 100%;
  background: $bg-white;
  @include position(fixed, 0 null null 0);
  transform: translateY(0);
  touch-action: none;

  @include for-phone-only {
    z-index: 12 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 599px), (max-height: 730px) {
    transform: translateY(0);
    left: 0;
    height: 100%;
    border-radius: 0 !important;
    width: 60px;
  }

  @media screen and (max-height: 760px) {
    transform: translateY(0) !important;
    height: 100vh !important;
    border-radius: 0 $border-dialog $border-dialog 0;
  }

  @include for-tablet-portrait-up {
    width: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

  }

  @include for-tablet-landscape-up {
    border-radius: $border-dialog;
    height: auto;
    transform: translateY($components-top);
    width: auto;
    z-index: $z-index4;
    border-right-color: transparent;
  }

  &-hint {
    @include position(absolute, null 0 0 0);
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
    display: none;
    background: #fff;

    @media (max-width: 599px) and (max-height: 740px) {
      display: block;
    }

    @media (min-width: 600px) and (max-height: 925px) {
      display: block;
    }

    @media (min-width: 900px) and (min-height: 630px) {
      display: none;
    }

    img {
      @extend %pulse-down;
      width: 20px;
    }
  }

  &-items {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: $location-head-height;

    @include for-tablet-landscape-up {
      padding-bottom: 0;
    }

    .disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &-title {
    padding: 0;
    text-align: center;
    color: $def-font-color;
    font: 18px/1.1 $bold;
    margin: 0 0 5px;
    max-height: 25px;
    white-space: nowrap;

    @media (max-width: 599px), (max-height: 730px) {
      padding: 0 5px;
      font-size: 14px;
      width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include for-tablet-portrait-up {
      width: 88px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include for-tablet-landscape-up {
      width: auto;
    }
  }

  &-item {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: $def-font-color;
    font-family: $medium;
    display: flex;
    align-items: center;

    @media (max-width: 599px), (max-height: 730px) {
      flex-direction: column;
      padding: 0;
    }

    @include for-tablet-portrait-up {
      flex-direction: column;
      padding: 0 5px;
    }

    @include for-tablet-landscape-up {
      flex-direction: row;
      width: 100%;
      padding-bottom: 5px;
    }

    &.active {
      background: rgba(#000, 0.5);
      box-shadow: $category-shadow;

      .category-title {
        color: #fff !important;
      }
    }

    &:hover {
      background: rgba(#000, 0.5);
      box-shadow: $category-shadow;

      .category-item {
        box-shadow: $category-shadow;
        transform: scale(1.05);
        -webkit-filter: blur(0);
        filter: blur(0);
        transition: 0.3s ease-in-out;
      }

      .category-title {
        color: #fff !important;
      }
    }

    .category-title {
      margin: 0 2px 5px;
      display: block;
      white-space: nowrap;
      text-align: center;

      @media (max-width: 599px), (max-height: 730px) {
        width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
      }

      @include for-tablet-portrait-up {
        width: 88px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0;
        font-size: 14px;
        padding: 0 2px;
      }

      @include for-tablet-landscape-up {
        width: auto;
        text-align: left;
        font-size: 16px;
      }
    }

    &.suggest {
      .category-item {
        background: map-get($projects, suggest);
      }
    }

    &.event {
      .category-item {
        background: map-get($projects, events);
      }
    }

    &.idea {
      .category-item {
        background: map-get($projects, ideas);
      }
    }
  }

  .block-title {
    font-size: 22px;
    color: white;
  }
}

.category-item {
  width: 56px;
  height: 56px;
  padding: 10px;
  margin: 5px 5px 0;
  border-radius: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0 0 3px 0 rgba(#000, 0.1);

  @media (max-width: 599px), (max-height: 730px) {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  img {
    width: 100%;
  }
}
