<div class="home-wrapper">
  <cd-gif></cd-gif>

  <div *ngIf="isBusy" class="loading-indicator-wrapper">
    <cd-loading-indicator></cd-loading-indicator>
  </div>
  <div [ngClass]="{'blur': isBusy}">
    <div class="main-wrapper">

      <div class="map-wrapper">
        <!--project menu-->
        <div #menu>
          <cd-project-menu></cd-project-menu>
        </div>

        <cd-nav-hints-dialog
          [width]="700"
          [positionLeft]="400"
          [positionTop]="150"
          [showDialog]="hintsDialogState"
          (hide)="closeHints()"
        ></cd-nav-hints-dialog>

        <!--search-->
        <div class="search-wrapper">
          <cd-search></cd-search>
        </div>

        <!--user-->
        <div class="user-info-wrapper">
          <cd-user-info [securityPrincipal]="securityPrincipal"></cd-user-info>
        </div>

        <!--search & user mobile-->

        <div class="search-mobile">
          <cd-search></cd-search>
          <cd-user-info [securityPrincipal]="securityPrincipal"></cd-user-info>
        </div>

        <cd-notification></cd-notification>

        <div *ngIf="!securityPrincipal" class="language-mobile">
          <div class="user-language">
            <cd-language-switcher></cd-language-switcher>
          </div>
        </div>

        <div class="pitch-controls">
          <div class="pitch-box" (click)="pitchIncrease()"
               [ngClass]="{disabled: pitchValue === distance.MAX_PITCH}">
            <img src="assets/svg/chevron-arrow-up.svg" alt="pitch increase">
          </div>

          <div class="pitch-box" (click)="pitchDecrease()"
               [ngClass]="{disabled: pitchValue === distance.MIN_PITCH}">
            <img src="assets/svg/chevron-arrow-down.svg" alt="pitch decrease">
          </div>
        </div>

        <div class="zoom-controls">
          <div class="zoom-box" (click)="zoomIn()">
            <img src="assets/svg/plus.svg" alt=" zoom in">
          </div>

          <div class="zoom-box" (click)="zoomOut()">
            <img src="assets/svg/minus.svg" alt="zoom out">
          </div>
        </div>

        <div class="info-wrapper" (click)="infoWrapperClick($event)">
          <div class="info" (click)="toggleInfoDropdown($event)">
            <img src="assets/svg/info.svg" alt="info">
          </div>

          <div class="info-dropdown" [ngClass]="{'show': showInfoDropdown}">
            <ul class="dropdown-list">
              <li class="dropdown-item">
                <span (click)="goToAboutTheGame()" translate>About the game</span>
              </li>
              <li class="dropdown-item">
                <span (click)="goToGameRules()" translate>Game rules</span>
              </li>
              <li class="dropdown-item">
                <span (click)="goToNavHints()" translate>Navigation hints</span>
              </li>
              <li class="dropdown-item">
                <span (click)="goToAttributionsPage()" translate>Attributions</span>
              </li>
            </ul>
          </div>
        </div>

        <cd-mapbox-navigator></cd-mapbox-navigator>

        <div #overlay>
          <div *ngIf="showOverlay()" class="overlay"></div>

          <!--Other component can be dynamically inserted here-->
        </div>

      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
