@import '../../../scss/base/mixin',
'../../../scss/abstracts/variables',
'../../../scss/abstracts/colors',
'../../../scss/components/helpers';

$zoom-size: 30px;
$zoom-size-small: 27px;
$info-size: 35px;
$info-size-small: 30px;

.home-wrapper::after {
  content: '';
  clear: both;
  width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  @include position(absolute, 0 0 0 0);
}

.menu-wrapper {
  float: left;
  width: 250px;
}

.map-wrapper {
  overflow: hidden;
  float: left;
  width: 100%;
}

.loading-indicator-wrapper {
  text-align: center;
}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#nav-icon3 {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  left: 13px;
  top: 19px;
  color: white;
  z-index: 100000;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open {
  margin-left: -33px;
  margin-top: -15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 24px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: black;
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.zoom {
  &-controls {
    @include position(fixed, null 0 0 null);
    padding: 2px;
    z-index: 10;
    background: $bg-white;
    border-radius: 3px 0 0 0;
  }

  &-box {
    margin: 0 0 5px;
    @include size($zoom-size);
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid #000;

    @include for-phone-only {
      @include size($zoom-size-small);
    }

    img {
      width: 100%;
    }
  }
}

.pitch {
  &-controls {
    @include position(fixed, null 0 90px null);
    padding: 2px;
    z-index: 10;
    background: $bg-white;
    border-radius: 3px 0 0 0;
  }

  &-box {
    margin: 0 0 5px;
    @include size($zoom-size);
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid #000;

    @include for-phone-only {
      @include size($zoom-size-small);
    }

    img {
      width: 100%;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.3;
    }
  }
}

.user-info-wrapper {
  @include position(absolute, 0 0 null null);
  z-index: $z-index3;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;

  @include for-tablet-landscape-up {
    transform: translateY($components-top) translateY(+150px) translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.search {
  &-wrapper {
    display: none;

    @include for-tablet-landscape-up {
      display: block;
      z-index: $z-index2;
    }
  }

  &-mobile {
    display: block;
    background: $bg-white;
    @include position(fixed, 0 0 null null);
    height: $components-top;
    padding: 7px;
    z-index: 10 !important;
    width: calc(100% - 60px);

    @extend .clearfix;

    @include for-tablet-portrait-up {
      width: calc(100% - 88px);
      z-index: 50 !important;
    }

    @include for-tablet-landscape-up {
      display: none;
    }
  }
}

.info-wrapper {
  @include position(fixed, null 0 185px null);
  z-index: 10;
}

.info {
  @include size($info-size);
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include for-phone-only {
    @include size($info-size-small);
  }

  img {
    width: 100%;
  }
}

.info-dropdown {
  opacity: 0;
  pointer-events: none;
  @include position(absolute, null 30px 20px null);
  width: 200px;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba($white, 0.1);
  transition: all 0.3s ease-in-out;
  background: $white;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .dropdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-item {
    color: $def-font-color;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      cursor: pointer;
    }
  }
}

.language-mobile {
  opacity: 1;
  pointer-events: auto;
  @include position(fixed, 0 0 null null);
  z-index: 11;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(160px);

  @include for-tablet-portrait-up {
    transform: translateY(180px);
    z-index: $z-index2;
  }

  @include for-tablet-landscape-up {
    opacity: 0;
    pointer-events: none;
  }
}

:host /deep/ {
  .language-dropdown {

    .ui-dropdown {
      border: none !important;
      width: auto !important;
      box-shadow: 0 0 5px 2px rgba(#000, 0.1);
      border-radius: 5px 0 0 5px !important;

      &-label {
        border-radius: 5px !important;
      }
    }
  }
}

.overlay {
  z-index: 1003 !important;
}

.map-pitch {
  &-wrapper {
    position: absolute;
    top: 52%;
    right: 30px;
    z-index: 1;
  }

  &-slider /deep/ {
    .ui-slider {
      height: 100px;
      width: 5px;
      background-color: grey;

      &-handle {
        left: -0.85em;
        background-color: #549c6b;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

@media (max-height: 450px) {
  .pitch-controls {
    right: auto;
    bottom: 0;
  }

  .info-wrapper {
    bottom: 90px;
  }
}

@media (min-width: 480px) and (max-height: 450px) {
  .pitch-controls {
    left: 90px;
  }
}

@media (max-width: 599px) and (max-height: 450px) {
  .pitch-controls {
    left: 63px;
  }
}
