<div class="page-wrapper">
  <div class="page-inner text-center">
    <cd-logo></cd-logo>
    <p class="error-code">500 - <span translate>INTERNAL SERVER ERROR</span></p>
    <p class="error-text" translate>Something went wrong on the server</p>
    <div class="buttons-actions">
      <a [routerLink]="ROUTES.home" class="btn btn-outline" translate>
        Back to the home
      </a>
    </div>
  </div>
</div>
