<div class="page-wrapper">
  <div class="page-inner">
    <cd-logo></cd-logo>
    <h1 class="attribution-title" translate>Codemos is grateful for the following contributions:</h1>
    <div class="attribution-content">
      <ul class="attribution-list">
        <li *ngFor="let icon of icons">
          <span class="icon-name">{{ icon.name }} </span><span class="icon-made-by" translate>icon made by</span>
          <a [href]="icon.author.url" [title]="icon.author.name">{{ icon.author.name }}</a><span class="from" translate> from</span>
          <a [href]="icon.site.url" [title]="icon.site.name">{{ icon.site.displayUrl }}</a><span class="licensed-by"
                                                                                                 translate> is licensed by </span>
          <a [href]="icon.license.url" [title]="icon.license.fullName" target="_blank">{{ icon.license.shortName }}</a>
        </li>
        <li>3D <span translate>Models by</span> Marc Stradi</li>
        <li>Codemos <span translate>Logo by</span> Salome Trezise</li>
      </ul>
    </div>

    <div class="buttons-actions">
      <a class="btn btn-outline" [routerLink]="ROUTES.home" translate>Back to the home</a>
    </div>
  </div>
</div>

