@import '../../../../scss/abstracts/variables',
  '../../../../scss/abstracts/colors',
  '../../../../scss/base/mixin';

.form-group {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-group label {
  font-family: $bold;
  display: block;
}

.form-group {
  > input,
  > select,
  > textarea {
    margin-top: 0;
  }
}

.edit-dialog {
  z-index: 10000 !important;
}

input[type="checkbox"] {
  display: none!important;
}

/*------ 1st checkboxes  ----*/

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  padding-right: 25px;
}


input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  border: 2px solid map-get($form-colors, lightgrey);
  background: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 5px;
  top: 2px;
  right: 2.5px;
  transition: all .5s;
  margin: 0;
  padding: 0;
  border: 2px solid map-get($form-colors, grey);
  border-top: none;
  border-right: none;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0) rotate(-45deg);
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1) rotate(-45deg);
}

input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  opacity: 0.35;
  cursor: default;
}

.notification-text {
  margin-bottom: 15px;
}

:host /deep/ {
  .profile-dialogs {
    position: static !important;

    &.ui-dialog {
      @include for-phone-only {
        width: calc(100vw - 20px) !important;
      }

      @include for-tablet-portrait-up {
        width: 100vw !important;
      }

      margin-bottom: 20px;
    }
  }
  .dialog-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-height: 100vh;
      overflow-x: hidden;
      padding: 70px 10px 20px;
      overflow-y: auto;
      @include position(fixed, 0 0 0 0);
      z-index: 1000;
  }
}


