<div class="overlay">
  <div #overlay>
    <div *ngIf="displayUpdateDialog" class="overlay">
      <div  class="dialog-container">
        <p-dialog
          [(visible)]="displayUpdateDialog"
          (onShow)="this.onUpdateDialogShow()"
          (onHide)="this.onUpdateDialogHide()"
          styleClass="edit-dialog profile-dialogs"
        >
          <p-header>
            <div class="card-header">
              <h1 class="card-category text-bold" translate>
                {{ LABELS.HEADER }}
              </h1>
            </div>
          </p-header>
          <div class="card card-wrapper">
            <form [formGroup]="updateForm" novalidate>
              <div class="form-group">
                <label for="firstName-field"><span translate>First Name</span>
                  <cd-asterisk *ngIf="VALIDATIONS.firstName.required.value"></cd-asterisk>
                </label>
                <input id="firstName-field" formControlName="firstName" type="text" name="firstName"
                       [ngClass]="{'error-input': updateForm.get('firstName').invalid && updateForm.get('firstName').touched}">
                <span *ngIf="updateForm.get('firstName').hasError('required') && updateForm.get('firstName').touched"
                      class="error" translate>{{ VALIDATIONS.firstName.required.errorMessage }}</span>
                <span
                  *ngIf="updateForm.get('firstName').hasError('containsWhiteSpacesOnly') && !updateForm.get('firstName').hasError('required') && updateForm.get('firstName').touched"
                  class="error" translate>{{ VALIDATIONS.firstName.valid.errorMessage }}</span>
                <span
                  *ngIf="updateForm.get('firstName').hasError('maxlength') && !updateForm.get('firstName').hasError('containsWhiteSpacesOnly') && updateForm.get('firstName').touched"
                  class="error" translate>{{ VALIDATIONS.firstName.maxLength.errorMessage }}</span>
              </div>

              <div class="form-group">
                <label for="lastName-field"><span translate>Last Name</span>
                  <cd-asterisk *ngIf="VALIDATIONS.lastName.required.value"></cd-asterisk>
                </label>
                <input id="lastName-field" formControlName="lastName" type="text" name="lastName"
                       [ngClass]="{'error-input': updateForm.get('lastName').invalid && updateForm.get('lastName').touched}">
                <span *ngIf="updateForm.get('lastName').hasError('required') && updateForm.get('lastName').touched"
                      class="error" translate>{{ VALIDATIONS.lastName.required.errorMessage }}</span>
                <span
                  *ngIf="updateForm.get('lastName').hasError('containsWhiteSpacesOnly') && !updateForm.get('lastName').hasError('required') && updateForm.get('lastName').touched"
                  class="error" translate>{{ VALIDATIONS.lastName.valid.errorMessage }}</span>
                <span
                  *ngIf="updateForm.get('lastName').hasError('maxlength') && !updateForm.get('lastName').hasError('containsWhiteSpacesOnly') && updateForm.get('lastName').touched"
                  class="error" translate>{{ VALIDATIONS.lastName.maxLength.errorMessage }}</span>
              </div>

              <div class="form-group">
                <label for="gender-field"><span translate>Gender</span>
                  <cd-asterisk *ngIf="VALIDATIONS.gender.required.value"></cd-asterisk>
                </label>
                <ng-select
                  id="gender-field"
                  [items]="genders"
                  [placeholder]="''"
                  [searchable]="false"
                  [formControlName]="'gender'"
                  bindValue="value"
                  bindLabel="text"
                  class="select"
                ></ng-select>
              </div>

              <div class="form-group">
          <label for="birthDate-field"><span translate>Date of birth</span>
            <cd-asterisk *ngIf="VALIDATIONS.birthDate.required.value"></cd-asterisk>
          </label>
          <cd-date-picker
            [showTime]="false"
            [styleClass]="'arrow-down'"
            id="birthDate-field"
            [inputId]="'birthDate-field'"
            [inputStyleClass]="'event-calendar-input'"
            [formControl]="updateForm.get('birthDate')"
          ></cd-date-picker>
          <cd-validation-messages
            *ngIf="updateForm.get('birthDate').touched"
            [control]="updateForm.get('birthDate')"
            [validationsObject]="VALIDATIONS.birthDate"
          ></cd-validation-messages>
        </div>

              <div class="form-group">
                <label for="city-field"><span translate>City</span>
                  <cd-asterisk *ngIf="VALIDATIONS.city.required.value"></cd-asterisk>
                </label>
                <input id="city-field" formControlName="city" type="text" name="city"
                       [ngClass]="{'error-input': updateForm.get('city').invalid && updateForm.get('city').touched}">
                <span
                  *ngIf="updateForm.get('city').hasError('containsWhiteSpacesOnly') && !updateForm.get('city').hasError('maxlength') && !updateForm.get('city').hasError('required') && updateForm.get('city').touched"
                  class="error" translate>{{ VALIDATIONS.city.valid.errorMessage }}</span>
                <span
                  *ngIf="updateForm.get('city').hasError('maxlength') && !updateForm.get('city').hasError('required') && updateForm.get('city').touched"
                  class="error" translate>{{ VALIDATIONS.city.maxLength.errorMessage }}</span>
              </div>

              <div class="form-group">
                <label for="address-field"><span translate>Address</span>
                  <cd-asterisk *ngIf="VALIDATIONS.address.required.value"></cd-asterisk>
                </label>
                <input id="address-field" formControlName="address" type="text" name="address"
                       [ngClass]="{'error-input': updateForm.get('address').invalid && updateForm.get('address').touched}">
                <span
                  *ngIf="updateForm.get('address').hasError('containsWhiteSpacesOnly') && !updateForm.get('address').hasError('maxlength') && updateForm.get('address').touched"
                  class="error" translate>{{ VALIDATIONS.address.valid.errorMessage }}</span>
                <span *ngIf="updateForm.get('address').hasError('maxlength')&& updateForm.get('address').touched"
                      class="error"
                      translate>{{ VALIDATIONS.address.maxLength.errorMessage }}</span>
              </div>

              <div class="form-group">
                <label for="language-field"><span translate>Language</span>
                  <cd-asterisk *ngIf="VALIDATIONS.language.required.value"></cd-asterisk>
                </label>
                <ng-select
                  id="language-field"
                  [items]="languages"
                  [placeholder]="''"
                  [searchable]="false"
                  [formControlName]="'language'"
                  bindValue="value"
                  bindLabel="label"
                  class="select"
                ></ng-select>
              </div>

              <div class="btn-panel buttons-actions">
                <button type="button" (click)="onUpdateDialogHide()" class="btn btn-outline btn-cancel" [disabled]="this.isLocked">
                  <span translate>Cancel</span>
                </button>
                <button (click)="onSubmitUpdate()" [disabled]="updateForm.invalid || this.isLocked" class="btn btn-outline btn-save">
                  <span translate>{{ LABELS.UPDATE }}</span>
                </button>
              </div>
            </form>
          </div>
        </p-dialog>
      </div>
    </div>


    <div *ngIf="displayPasswordDialog" class="overlay">
      <div class="dialog-container">
        <p-dialog [(visible)]="displayPasswordDialog" (onShow)="this.onPasswordDialogShow()"
                  (onHide)="this.onPasswordDialogHide()" styleClass="profile-dialogs">
          <p-header>
            <div class="card-header">
              <h1 class="card-category text-bold" translate>
                {{ securityPrincipal.getPrincipalHasPasswordField() ? LABELS.CHANGE_PASSWORD.HEADER : LABELS.CREATE_PASSWORD.HEADER }}
              </h1>
            </div>
          </p-header>
          <div class="card card-wrapper">
            <form (submit)="onSubmitPassword($event)" [formGroup]="passwordForm" novalidate>

              <div class="form-group" *ngIf="securityPrincipal.getPrincipalHasPasswordField()">
                <label for="password-field"><span translate>Password</span>
                  <cd-asterisk *ngIf="VALIDATIONS.password.required.value"></cd-asterisk>
                </label>
                <input id="password-field" formControlName="password" type="password" name="password"
                       [ngClass]="{'error-input': passwordForm.get('password').invalid && passwordForm.get('password').touched || passwordErrorMessage}">
                <span *ngIf="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched"
                      class="error" translate>{{ VALIDATIONS.password.required.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('password').hasError('hasntWhiteSpaces') && passwordForm.get('password').touched"
                  class="error" translate>{{ VALIDATIONS.password.valid.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('password').hasError('minlength') && !passwordForm.get('password').hasError('hasntWhiteSpaces') && passwordForm.get('password').touched"
                  class="error" translate>{{ VALIDATIONS.password.minLength.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('password').hasError('maxlength') && !passwordForm.get('password').hasError('hasntWhiteSpaces') && passwordForm.get('password').touched"
                  class="error" translate>{{ VALIDATIONS.password.maxLength.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('password').hasError('hasAtLeastOneUpper') && !passwordForm.get('password').hasError('hasntWhiteSpaces') && !passwordForm.get('password').hasError('minlength') && !passwordForm.get('password').hasError('maxlength') && !passwordForm.get('password').hasError('passwordRequired') && passwordForm.get('password').touched"
                  class="error" translate>{{ VALIDATIONS.password.uppercase.errorMessage }}</span>
                <span *ngIf="passwordErrorMessage" class="error">{{ passwordErrorMessage }}</span>
              </div>

              <div class="form-group">
                <label for="newPassword-field"><span translate>New password</span>
                  <cd-asterisk *ngIf="VALIDATIONS.newPassword.required.value"></cd-asterisk>
                </label>
                <input id="newPassword-field" formControlName="newPassword" type="password"
                       name="newPassword"
                       [ngClass]="{'error-input': passwordForm.get('newPassword').invalid && passwordForm.get('newPassword').touched}">
                <span
                  *ngIf="passwordForm.get('newPassword').hasError('required') && passwordForm.get('newPassword').touched"
                  class="error" translate>{{ VALIDATIONS.newPassword.required.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('newPassword').hasError('hasntWhiteSpaces') && passwordForm.get('newPassword').touched"
                  class="error" translate>{{ VALIDATIONS.newPassword.valid.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('newPassword').hasError('minlength') && !passwordForm.get('newPassword').hasError('hasntWhiteSpaces') && passwordForm.get('newPassword').touched"
                  class="error" translate>{{ VALIDATIONS.newPassword.minLength.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('newPassword').hasError('maxlength') && !passwordForm.get('newPassword').hasError('hasntWhiteSpaces') && passwordForm.get('newPassword').touched"
                  class="error" translate>{{ VALIDATIONS.newPassword.minLength.errorMessage }}</span>
                <span
                  *ngIf="passwordForm.get('newPassword').hasError('hasAtLeastOneUpper') && !passwordForm.get('newPassword').hasError('hasntWhiteSpaces') && !passwordForm.get('newPassword').hasError('minlength') && !passwordForm.get('newPassword').hasError('maxlength') && passwordForm.get('newPassword').touched"
                  class="error" translate>{{ VALIDATIONS.newPassword.uppercase.errorMessage }}</span>
              </div>

              <div class="form-group">
                <label for="confirm-field"><span translate>Confirm Password</span>
                  <cd-asterisk *ngIf="VALIDATIONS.confirmPassword.required.value"></cd-asterisk>
                </label>
                <input id="confirm-field" formControlName="confirm" type="password" name="confirm"
                       [ngClass]="{'error-input': passwordForm.get('confirm').invalid && passwordForm.get('confirm').touched}">
                <span *ngIf="passwordForm.get('confirm').hasError('required') && passwordForm.get('confirm').touched"
                      class="error" translate>{{ VALIDATIONS.confirmPassword.required.errorMessage }}</span>
                <span *ngIf="passwordForm.get('confirm').hasError('controlsMatch') && passwordForm.get('confirm').touched"
                      class="error" translate>{{ VALIDATIONS.confirmPassword.match.errorMessage }}</span>
              </div>

              <div class="btn-panel buttons-actions">
                <button type="button" (click)="onPasswordDialogHide()" class="btn btn-outline btn-cancel" [disabled]="this.isLocked">
                  <span translate>Cancel</span>
                </button>
                <button type="submit" class="btn btn-outline btn-save" [disabled]="passwordForm.invalid || this.isLocked">
                  <span translate>{{ LABELS.UPDATE }}</span>
                </button>
              </div>
            </form>
          </div>
        </p-dialog>
      </div>
    </div>
    <div *ngIf="displayNotificationsDialog" class="overlay">
      <div class="dialog-container">
        <p-dialog [(visible)]="displayNotificationsDialog" (onShow)="this.onNotificationsDialogShow()"
                  (onHide)="this.onNotificationsDialogHide()" styleClass="profile-dialogs">
          <p-header>
            <div class="card-header">
              <h1 class="card-category text-bold" translate>
                {{ LABELS.NOTIFICATIONS.HEADER }}
              </h1>
            </div>
          </p-header>
          <div class="card card-wrapper">
            <form (submit)="onSubmitNotifications($event)" [formGroup]="notificationsForm" novalidate>
              <div class="notification-text" translate>
                <p>{{ LABELS.NOTIFICATIONS.GET_NOTIFIED }}</p>

                <input id="onVote-field" type="checkbox" formControlName="useNotifications">
                <label for="onVote-field" translate>{{ LABELS.NOTIFICATIONS.ON_VOTE }}</label>
              </div>

              <div class="btn-panel buttons-actions">
                <button type="button" (click)="onNotificationsDialogHide()" class="btn btn-outline btn-cancel" [disabled]="this.isLocked">
                  <span translate>Cancel</span>
                </button>
                <button type="submit" [disabled]="notificationsForm.invalid || this.isLocked" class="btn btn-outline btn-save">
                  <span translate>{{ LABELS.NOTIFICATIONS.UPDATE }}</span>
                </button>
              </div>
            </form>
          </div>
        </p-dialog>
      </div>
    </div>
  </div>

  <cd-profile
    *ngIf="securityPrincipal"
    [securityPrincipal]="securityPrincipal"
    [projects]="projects"
    [events]="events"
    [ideas]="ideas"
    [visible]="showProfileDialog"
    (updateProjects)="getProjects($event)"
    (show)="onShow()"
    (hide)="onHide()"
    (showUpdateDialog)="showUpdateDialog()"
    (showPasswordDialog)="showPasswordDialog()"
    (showNotificationsDialog)="showNotificationsDialog()">
  </cd-profile>
</div>
