<h1 class="welcome-text" translate>{{ LABELS.FORGOT_INSTRUCTIONS }}</h1>
<div class="card form-box">
  <form [formGroup]="forgotForm" class="card-body">
    <h2 class="form-title" translate>{{ LABELS.FORGOT_PASSWORD }}</h2>

    <div class="form-group">
      <label for="email-field" translate class="category">{{ LABELS.EMAIL }}</label>
      <input class="form-control" id="email-field" formControlName="email" type="text" name="email"
             [ngClass]="{'error-input': forgotForm.get('email').invalid && forgotForm.get('email').touched}">
      <span *ngIf="forgotForm.get('email').hasError('required') && forgotForm.get('email').touched" class="error"
            translate>{{ VALIDATIONS.email.required.errorMessage }}</span>
      <span
        *ngIf="forgotForm.get('email').hasError('validEmail') && !forgotForm.get('email').hasError('required') && forgotForm.get('email').touched"
        class="error" translate>{{ VALIDATIONS.email.regex.errorMessage }}</span>
      <span
        *ngIf="forgotForm.get('email').hasError('maxlength') && !forgotForm.get('email').hasError('required') && !forgotForm.get('email').hasError('email') && forgotForm.get('email').touched"
        class="error" translate>{{ VALIDATIONS.email.maxLength.errorMessage }}</span>
    </div>

    <div class="buttons-actions">
      <button (click)="onSubmit()" type="button" [disabled]="!forgotForm.valid || isLocked" class="btn btn-outline" translate>
        {{ LABELS.SUBMIT }}
      </button>
    </div>
    <div class="back">
      <a [routerLink]="ROUTES.login" translate>Back to Sign in</a>
    </div>
  </form>
</div>
<div *ngIf="showSuccess" class="success-message" translate>{{ LABELS.FORGOT_EMAIL_SENT }}</div>
