.success-message {
  text-align: center;
  font-size: 20px;
  color: green;
  max-width: 450px;
  margin: 20px auto;
}

.form-box {
  max-width: 350px;
}

.welcome-text {
  max-width: 500px;
  margin: 0 auto 20px;
}

.back {
  font-size: 14px;
}
