<div class="page-wrapper">
  <cd-logo></cd-logo>
  <h2 class="page-header" translate>Rules of the Game</h2>
  <div class="controls">
    <div class="content">
      <h3><span translate>About the game</span>:</h3>
      <b><span translate>Codemos empowers citizen to make their dream cities real</span>.</b>
      <span translate>Codemos allows them to be useful for the collectivity. Citizens become important players, better informed, more powerful and in harmony with their surroundings. Citizens are the heroes of the game but also of their city. They can learn and create.</span>
      <br>
      <br>
      <b><span translate>Advise</span>:</b>
      <span translate>The more altruistic you are the more likely you are to win the game. Passive altruism is rewarded but active altruism pays more!</span>
      <br>
      <br>
      <span translate>Purpose of the game: Successfully and positively transform your city</span>
      <br>
      <span translate>For whom: Citizens</span>
      <br>
      <span translate>Means: Contribute to the platform by proposing places, inspirations, projects of construction, or modifications, events by promoting them, voting for them or financing them, but also by contributing to the game evolution itself.</span>
      <br>

      <span translate>Alone or as a team? You can play alone or as a team, in collaborative mode. You can create your team, invite friends, or ask to be proposed partners with whom you could become friends. How to earn points? Each contribution allows you to earn points. You earn a maximum of points when your project is selected, and even more when it is adopted by the vote, and realised.</span>

      <h3>I. <span translate>The DOGEMOS</span></h3>

      <span translate>The DOGEMOS would be the game mascotte providing with a virtual assistance. The DOGEMOS orientates players in the game to start their projects by giving them missions.</span>

      <img class="dog" src="assets/dogemos.png">

      <h3>II. <span translate>Missions</span>:</h3>

      <span translate>The DOGEMOS will provide missions in the Game allowing players to win XP (Experience Points).XP are experienced points acquired by the player for each successfully achievement. The cumul ofthese points allow the player to increase its level in the game.</span>

      <h3 translate>Example of missions proposed by Codedog:</h3>

      <ul>
        <li translate>Support kids missing a school with an educational project.</li>
        <li translate>Help ill persons in difficulty with a new medical center.</li>
        <li translate>Bring cultural lights in darkness</li>
        <li translate>Reduce CO2 emissions with a park in polluted area.</li>
        <li translate>Boost economic performance with a commercial center</li>
        <li translate>Make citizens healthier by offering them a sport center</li>
        <li translate>Help people in difficulty with a social center</li>
        <li translate>Promote projects by sharing them</li>
        <li translate>Send some inspiration to others in the platform, or inform them on the place. etc.</li>
        <li translate>Get some likes on your inspirational texts by sharing them</li>
        <li translate>Make people vote for your project</li>
        <li translate>invite people to play/ to vote.</li>
        <li translate>Visit other people projects, vote</li>
        <li translate>Organise an event to make your city more lively</li>
      </ul>

      <h3 translate>Missions and XP:</h3>

      <ul>
        <li translate>Read, watch others contributions: 50 XP</li>
        <li translate>Vote for a project 200 XP</li>
        <li translate>Suggestion of a place, inspiring contributions, promoting projects by sharing on social media, Inviting friends to love, collaborating with others, creating a group, improving other people projects: 500 XP
        </li>
        <li translate>Create a project: 1000 XP</li>
        <li translate>Finance a project: 100 XP by euros given to finance a project</li>
        <li translate>Help with bugs, data, modeling: 1000 XP</li>
      </ul>

      <h3 translate>Bonus:</h3>

      <span translate>5 XP Bonus per person who likes your contribution and per vote.</span>
      <br>
      <span translate>300 XP bonus per stars obtained from your project.</span>
      <br>
      <span translate>5000 XP if the project you proposed or contributed is submitted to vote</span>
      <br>
      <span translate>10000 XP if the project you have contributed or proposed wins the vote.</span>
      <br>
      <span translate>50000 XP if the project you have contributed or proposed</span>

      <h3 translate>Collaborative mode:</h3>
      <span translate>Missions can also be given by the other team members. To incentivize collaboration a team member would mark points on the same basis as those of a single player, cumulating also the points of the other team members successful missions for their common project. Therefore people will have interest to play in team to cumulate more XP and increase faster in level. The players can compete among teams to be the first team to concretize a project, they need to push people to vote for their project to make them happen and to win the team against team competition. To win against another neighborhood, they should have a maximum of codemos proposal realized, pushing people to detect new places, organise events, etc.</span>

      <h3 translate>III. Game levels</h3>

      <span translate>When passing a level, a player can receive a title or presents (trophies, map of the projects realized to share with their friends...) or access to some functionalities or modes. Levels are passed thanks to a certain number of XP obtained (see table below).</span>

      <br>
      <b translate>How to reach a new level in the game</b>
      <ul>
        <li translate>Level 1: citizen (everyone)</li>
        <li translate>Level 2: activist (90% best players in number of XP)</li>
        <li translate>Level 3: optimizer (80% best players in number of XP)</li>
        <li translate>Level 4: leader (70% best players in number of XP) Trophy.</li>
        <li translate>Level 5: Associate Mayor (60% best players in number of XP)</li>
        <li translate>Level 6: First Vice Mayor (50% best players in number of XP)</li>
        <li translate>Level 7: Mayor (40% best players in number of XP) Trophy</li>
        <li translate>Level 8: President of Codemos Region (30% best players in number of XP)</li>
        <li translate>Level 9: President of codemos state. (20% best players in number of XP Trophy.</li>
        <li translate>Level 10: President of codemos continent (10% best players in number of XP)</li>
        <li translate>Level 11: President of the world. Best in number of XP in the world. Trophy.</li>
      </ul>

      <br>

      <span translate>The number of XP of a player can only increase, the player keeps the trophy always up to 4 trophies, but the player can decrease in level and lose the title if other players overcome him/her.</span>

      <br>
      <br>

      <h3 translate>Warnings / disclaimer</h3>

      <span translate>The game only works in agglomeration. An unnamed address project is not a correct suggestion as it usually stands for a low density of population area, like the desert, or the ocean...</span>
      <br>
      <br>

      <span translate>Suggestions outside agglomerations do not allow the computation of the project. A place being currently used inside agglomeration is not a correct suggestion. A place being forbidden or considered as dangerous (natural risk, polluted field, security reasons lie airport...) is not a correct suggestion. A place protected by law like natural reserves, natural monument, or classified monument and building is not a correct suggestion.</span>
      <br>
      <br>

      <span translate>The moderator of the game can delete such suggestions.</span>
      <br>
      <br>

      <span translate>If you notice a suggestion outside an agglomeration or in a place being currently used, or protected by law please signal it.</span>
      <br>
      <br>

      <span translate>If many places suggested by the same author are correctly signaled as wrong suggestions, the author of these wrong suggestions will not be allowed to suggest places any longer and your score will be reset to 0.</span>
      <br>
      <br>

      <span translate>If a project submitted to vote does not receive any vote, the project is not welcomed by the community and the points obtained associated to this project will be suppressed.</span>
    </div>
    <div class="buttons-actions">
      <a class="btn btn-outline" [routerLink]="ROUTES.home" translate>Back to the home</a>
    </div>
  </div>
  <cd-social></cd-social>
</div>
