@import '../../../../scss/base/mixin';

.rules-container {
  max-height: 100vh;
  overflow-y: auto;
  padding: 0 10px;
}

.page-header {
  font-size: 30px;
  text-align: center;
}

h3 {
  text-align: center;
}

.controls {
  text-align: center;
  margin-bottom: 30px;
}

.dog {
  display: block;
  max-width: 290px;
  margin: 0 auto;
}

.coin {
  display: block;
  width: 200px;
  margin: 0 auto 20px auto;
}

.content {
  max-width: 1240px;
  margin: 30px auto 40px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.6px;

  @include for-tablet-portrait-up {
    font-size: 18px;
  }

  @include for-tablet-landscape-up {
    font-size: 20px;
  }
}
