import { BaseDto } from '../common/BaseDto';
import { Dictionary } from '../../types';

{{#with definition}}

export class {{definitionName}} extends BaseDto {
  {{#each properties}}
  private _{{@key}}: {{tsType this}};
  {{/each}}

  /**
   * Initialize a new instance of {{definitionName}}
   * @param {object}    input     - Initial data to be set into the model fields. Should be an object representing JSON.
   **/
   constructor(input?: any) {
      super();
      // Skip if no input
      if (!input) {
        return;
      }
      input = super.fromCamelCaseToSnakeCase(input);
      {{#each properties}}
      {{#if _isRefDto}}
      this.{{propertyName @key}} = input['{{@key}}'] ? new {{tsType this}}(input['{{@key}}']) : null;
      {{else}}
      this.{{propertyName @key}} = input['{{@key}}'];
      {{/if}}
      {{/each}}
  }

  /**
   * Completely clone this instance.
   * @returns {{{definitionName}}} - Cloned object.
   **/
  public clone(): {{definitionName}} {
    return new {{definitionName}}(this.toJSON());
  }

  public toJSON(): Dictionary<any> {
    const result: Dictionary<any> = {};
    {{#each properties}}
    {{#if _isRefDto}}
    result['{{@key}}'] = this.{{propertyName @key}} ? this.{{propertyName @key}}.toJSON() : null;
    {{else}}
    result['{{@key}}'] = this.{{propertyName @key}};
    {{/if}}
    {{/each}}
    return result;
  }

  {{#each properties}}
  /**
  * {{#if description}}{{description}}{{else}}Get value of {{@key}}{{/if}}
  * @returns - Current value of {{@key}}.
  **/
  get {{propertyName @key}}(): {{#tsType this }}{{/tsType}} {
    return this._{{@key}};
  }

  /**
  * Change the value of {{@key}}.
  * @param newVal - New value to assign.
  **/
  set {{propertyName @key}}(newVal: {{tsType this}}) {
    this._{{@key}} = newVal;
  }

  {{/each}}

}

{{/with}}
{{#each references}}
import { {{this}} } from '{{../options.modelsImportPath}}{{fileNameForClass this}}';
{{/each}}
