<div class="page-wrapper">
  <div class="page-inner">
    <cd-logo></cd-logo>
    <h2 class="page-header" translate>About the game: for all!</h2>
    <ul class="about-list">
      <li class="about-item" translate>Purpose of the game: Successfully and positively transform your city</li>
      <li class="about-item" translate>Means: Contribute to the platform by proposing places, inspirations, projects of construction, or modifications, events by promoting them, voting for them or financing them, but also by contributing to the game evolution itself.</li>
      <li class="about-item" translate>Alone or as a team? You can play alone or as a team. You can create your team, invite friends, or ask to be proposed complementary partners with whom you could become friends.</li>
      <li class="about-item" translate>How to earn points? Each contribution allows you to earn points. You earn a maximum of points when your project is selected, and even more when it is adopted by the vote, and realised.</li>
    </ul>
    <div class="about-actions buttons-actions">
      <a class="btn btn-outline" [routerLink]="ROUTES.home" translate>Back to the home</a>
    </div>
    <div class="socials">
      <cd-social></cd-social>
    </div>
  </div>
</div>


