<ul class="ui-menu-list ui-helper-reset" [@submenu]="expanded ? 'visible' : 'hidden'">
  <ng-template ngFor let-child [ngForOf]="item.items">
    <li *ngIf="child.separator" class="ui-menu-separator ui-widget-content">
    <li *ngIf="!child.separator" class="ui-menuitem ui-corner-all" [ngClass]="{'ui-menu-parent':child.items}" [class]="child.styleClass" [ngStyle]="child.style">
      <a *ngIf="!child.routerLink" [href]="child.url||'#'" class="ui-menuitem-link ui-corner-all" [attr.tabindex]="item.expanded ? null : '-1'" [ngClass]="{'ui-menuitem-link-hasicon':child.icon&&child.items,'ui-state-disabled':child.disabled}" (click)="handleClick($event,child)" [attr.target]="child.target" [attr.title]="child.title">
        <div *ngIf="images"><img [src]="child.imagePath || defaultImagePath" /></div>
        <span class="ui-panelmenu-icon fa fa-fw" [ngClass]="{'fa-caret-right':!child.expanded,'fa-caret-down':child.expanded}" *ngIf="child.items"></span>
        <span class="ui-menuitem-icon fa fa-fw" [ngClass]="child.icon" *ngIf="child.icon"></span>
        <span class="ui-menuitem-text" translate>{{ child.label }}</span>
      </a>
      <a *ngIf="child.routerLink" [routerLink]="child.routerLink" [queryParams]="child.queryParams" [routerLinkActive]="'ui-state-active'" [routerLinkActiveOptions]="child.routerLinkActiveOptions||{exact:false}" class="ui-menuitem-link ui-corner-all" [ngClass]="{'ui-menuitem-link-hasicon':child.icon&&child.items,'ui-state-disabled':child.disabled}" [attr.tabindex]="item.expanded ? null : '-1'" (click)="handleClick($event,child)" [attr.target]="child.target" [attr.title]="child.title">
        <div *ngIf="images"><img [src]="child.imagePath || defaultImagePath" /></div>
        <span class="ui-panelmenu-icon fa fa-fw" [ngClass]="{'fa-caret-right':!child.expanded,'fa-caret-down':child.expanded}" *ngIf="child.items"></span>
        <span class="ui-menuitem-icon fa fa-fw" [ngClass]="child.icon" *ngIf="child.icon"></span>
        <span class="ui-menuitem-text" translate>{{ child.label }}</span>
      </a>
      <cd-submenu-panel [item]="child" [expanded]="child.expanded" [images]="images" *ngIf="child.items"></cd-submenu-panel>
    </li>
  </ng-template>
</ul>
