<div class="page-wrapper">
  <div class="page-inner text-center">
    <cd-logo></cd-logo>
    <p class="error-code">404 - <span translate>PAGE NOT FOUND</span></p>
    <p class="error-text" translate>Sorry, the page you requested was not found</p>
    <div class="buttons-actions">
      <a [routerLink]="ROUTES.home" class="btn btn-outline" translate>
        Back to the home
      </a>
    </div>
  </div>
</div>
