$form-colors: (
  blue : #2d69ab,
  grey : #7e7e80,
  lightgrey: #aeaeae,
  dark: #515151
);

$colors: (
  white : #fff,
  green: #05872b
);

$projects: (
  culture : #9b59b6,
  education: #3498db,
  park: #2ecc71,
  sport: #e67e22,
  medical: #e74c3c,
  suggest: #bdc3c7,
  events: #ecf0f1,
  ideas: #dcdcdc,
  social: #ffee00
);

$def-font-color: #535353;

$bg-white: #fff;
$bar-color: rgba(#000, 0.1);

$white: #ffffff;
$black: #000000;
