$main-font: quicksandregular, sans-serif;
$bold: quicksandbold, sans-serif;
$light: quicksandlight, sans-serif;
$medium: quicksandmedium, sans-serif;

$border-dialog: 12px;
$shadow-dialog: 0px 0px 13px 3px rgba(0,0,0,0.3);

$components-top: 60px;

$z-index1: 100 !important;
$z-index2: 200 !important;
$z-index3: 300 !important;
$z-index4: 400 !important;
$z-index5: 500 !important;
$z-index6: 600 !important;
$z-index7: 700 !important;
$z-index8: 800 !important;
$z-index9: 900 !important;
$z-index10: 1000 !important;

$location-head-height: 75px;

$pulse-shadow: rgba(0, 0, 0, 0.3);
