@import '../../../../scss/abstracts/variables',
'../../../../scss/abstracts/colors',
'../../../../scss/base/mixin';

.user {
  &-info {
    padding: 0 5px;
    color: $def-font-color;
    border-radius: $border-dialog 0 0 $border-dialog;
    text-align: center;

    max-width: 50px;
    float: right;
    position: relative;
    background: $bg-white;


    @include for-tablet-landscape-up {
      padding: 10px;
      float: none;
      max-width: 300px;
    }
  }

  &-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #D3D3D3;
    padding: 10px 5px 0;
    margin: 0 auto 5px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }

    @include for-tablet-landscape-up {
      width: 90px;
      height: 90px;
      padding: 30px 10px 0;
    }
  }

  &-name {
    font: 16px/1 $medium;
    display: none;
    cursor: pointer;
    word-break: break-all !important;
    overflow-wrap: break-word !important;

    p {
      margin-bottom: 5px;
      //word-wrap: break-word;
      //white-space: normal;
      //-ms-word-wrap: break-word;
      word-break: break-all !important;
      overflow-wrap: break-word !important;
      //max-width: 100%;
    }
  }

  &-score,
  &-logout,
  &-name,
  &-language {
    display: none;

    @include for-tablet-landscape-up {
      display: block;
    }
  }

  &-language{
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
    position: relative;
  }
}

.btn-logout {
  margin: 0 auto;
}

:host /deep/ {
  .language-dropdown {

    .ui-dropdown {
      border: none !important;
      width: auto !important;
      box-shadow: 0 0 5px 2px rgba(#000, 0.1);
      border-radius: 5px !important;

      &-label {
        border-radius: 5px !important;
      }
    }
  }
}


.btn-login {
  @include for-tablet-landscape-up {
    padding-right: 0;
    margin-right: 0;
  }

  span {
    display: none;

    @include for-tablet-landscape-up {
      display: block;
    }
  }
}
