<p-dialog
  *ngIf="showDialog"
  [visible]="showDialog"
  (onHide)="onCancel()"
  class="view-mode-dialog"
>

  <p-header translate>
    <div class="card-header">
      <!--<h1 class="card-category text-bold" translate>Header</h1>-->
    </div>
  </p-header>

  <div class="card card-body" translate>
    <p translate>You need to be signed in to continue to the next step. Don't have an account? Take two minutes to sign up.</p>

    <div class="buttons-actions">
      <button class="btn btn-outline" type="button" (click)="signIn()" translate>Sign In</button>
      <button class="btn btn-outline" type="button" (click)="signUp()" translate>Sign Up</button>
      <button class="btn btn-outline" type="button" (click)="onCancel()" translate>Close</button>
    </div>

  </div>

</p-dialog>
