<div class="blur partners-blur">
  <div class="blur-container">
    <img class="blur-img" src="assets/images/map_bg.png" alt="">
  </div>
</div>
<div class="default-container partners">
  <a class="btn btn-back" [routerLink]="ROUTES.home">
    <span translate>Play!</span>
  </a>
  <div class="default-inner">
    <h1 class="partners-title partners-title-main" translate>Codemos partners</h1>
    <div class="partners-container">


    </div>
    <div class="partners2">
      <div class="partners-group">
        <div class="partners-item">
          <a href="http://confrontations.org/" title="Confrontations Europe">
            <img src="assets/images/partners/partner1.png" alt="Confrontations Europe">
          </a>
        </div>
        <div class="partners-item">
          <a href="http://cities4europe.eurocities.eu/eu-campaign/index.html" title="cities4europe">
            <img src="assets/images/partners/partner2.png" alt="cities4europe">
          </a>
        </div>
        <div class="partners-item">
          <a href="https://www.makinov.fr/" title="makinov">
            <img src="assets/images/partners/partner3.png" alt="makinov">
          </a>
        </div>
        <div class="partners-item">
          <a href="https://www.imt-bs.eu/" title="Telecom Ecole de Management">
            <img src="assets/images/partners/partner4.png" alt="Telecom Ecole de Management">
          </a>
        </div>
        <div class="partners-item">
          <a href="https://www.santannapisa.it/it" title="School of Advanced Studies">
            <img src="assets/images/partners/partner6.png" alt="santannapisa">
          </a>
        </div>
        <div class="partners-item">
          <a href="https://www.mapbox.com/" title="Mapbox">
            <img class="mapbox" src="assets/images/partners/partner7.png" alt="Mapbox">
          </a>
        </div>
      </div>
      <div class="partners-single">
        <div class="partners-item">
          <a href="http://www.eurocities.eu/" title="eurocities">
            <img src="assets/images/partners/partner5.png" alt="eurocities">
          </a>
        </div>
      </div>
    </div>
    <h2 class="partners-title partners-title-thanks" translate>
      thank for your support!
    </h2>
  </div>


</div>
