@import '../../../../scss/base/mixin',
'../../../../scss/components/helpers',
'../../../../scss/abstracts/colors',
'../../../../scss/abstracts/variables';

.default-inner {
  padding-top: 50px;
}

.partners {
  text-align: center;

  &-title {
    text-transform: uppercase;
    //color: $def-font-color;
    font: 24px/1 $bold;

    &-main {
      margin: 20px 0 30px;

      @include for-tablet-portrait-up {
        font-size: 36px;
        margin-bottom: 50px;
      }

      @include for-tablet-landscape-up {
        font-size: 46px;
        margin-bottom: 60px;
      }

      @include for-desktop-up {
        font-size: 56px;
        margin-bottom: 70px;
      }
    }

    &-thanks {
      margin-bottom: 20px;

      @include for-tablet-portrait-up {
        font-size: 28px;
      }

      @include for-tablet-landscape-up {
        font-size: 30px;
      }

      @include for-desktop-up {
        font-size: 34px;
      }
    }
  }

  &-container {
    border-radius: 50%;
    padding: 20px;
    background: rgba($white, 0.7);
    display: none;
  }

  &-list {
    list-style: none;
    padding: 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include on-circle($item-count: 7, $circle-size: 500px, $item-size: 120px);

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.btn-back {
  position: absolute;
  top: 10px;
  left: 10px;
  color: $white;
  z-index: 10;
}

.partners2 {
  max-width: 1260px;
  padding: 15px 10px;
  border-radius: $border-dialog;
  box-shadow: $shadow-dialog;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba($white, 0.5);
}

.partners {
  &-item {
    img {
      max-width: 90%;
      transition: filter 0.3s ease-in-out;
      filter: grayscale(0);
    }
    margin-bottom: 5px;

    &:last-child {
      @include for-desktop-up {
        flex: 1;
      }
    }

    &:hover {
      img {
        filter: grayscale(1);
      }
    }
  }

  &-group {
    @include for-tablet-landscape-up {
      max-width: calc(100% - 200px);
      justify-content: space-between;
      flex: 1 0 auto;
    }
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &-single {
    max-width: 200px;
  }
}

.mapbox {
  width: 70%;
  height: auto;
}

.partners-blur {
  filter: none !important;
}

.blur-img {
  filter: blur(5px);
}
