<cd-logo></cd-logo>
<h2 class="page-header">
  <img class="image" src="assets/not_implemented.png">
</h2>
<div class="content">
  <p translate>You need to get to a higher level in the game to access this functionality. Keep on playing!</p>
</div>
<div class="controls">
  <a class="btn btn-outline" [routerLink]="ROUTES.home" translate>Back to the home</a>
</div>
<cd-social></cd-social>
