@import '../../../../scss/base/mixin',
'../../../../scss/abstracts/variables',
'../../../../scss/components/helpers',
'../../../../scss/abstracts/colors';

:host /deep/ {
  .impact-dialog {
    .ui-dialog {
      @extend %project-dialog;

      @media screen and (max-width: 1280px) {
        transform: translateX(-50%) translateY(100%) translateY(-50px) translateZ(0) !important;
      }
    }

    &.open {
      .ui-dialog {
        @extend %project-dialog-open;

      }

      .card-body {
        @include for-tablet-landscape-up {
          overflow-y: auto !important;
        }
      }
    }
  }
}

.project {
  &-score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-rating {
    @include for-phone-only {
      margin-bottom: 10px;
    }
  }

  &-votes {
    font-family: $bold;

    .votes-title {
      font-family: $main-font;
      font-size: 14px;
    }
  }
}

.title {
  text-align: center;
  margin: 10px 0;

  &-bar {
    text-transform: uppercase;
    font-size: 18px;
  }

  &-project {
    font-size: 18px;
    margin: 10px 0;
  }

  &-performance {
    position: relative;
    top: 2px;
  }
}

.sdg {
  margin: 20px 0;

  &-header {
    background: $bar-color;
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    font-size: 18px;
  }

  &-list {
    margin: 10px 0;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
      margin: 0 5px 5px;
      border-radius: 5px;
      width: 100px;
      box-shadow: 0 0 10px 3px rgba(#000, 0.1);

      @include for-phone-only {
        width: 80px;
      }
    }
  }
}

.perf-value-container {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 0 5px;

}

.perf-title {
  font-family: $bold;
}

.message {
  text-align: center;
  font: 20px $medium;
  margin: 20px 0;
}
