@import '../../../../scss/base/mixin';

.socials-block {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;

  @include for-tablet-portrait-up {
    width: 60%;
  }
  @include for-tablet-landscape-up {
    width: 50%;
  }
}

.title {
  text-align: center;
  font-size: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.social-item {
  margin: 0 10px 10px 10px;
}

.social-logo {
  width: 50px;
  border-radius: 5px;
}

.mail-box {
  text-align: center;
  padding-bottom: 5px;
}

.mail {

}
