<div class="socials-block">
  <h3 class="title" translate>Our Socials</h3>
  <div class="socials">
    <div class="social-item">
      <a href="{{ SOCIALS.fb.link }}" target="_blank">
        <img class="social-logo" src="assets/socials/fb.png" alt="Facebook">
      </a>
    </div>
    <div class="social-item">
      <a href="{{ SOCIALS.twitter.link }}" target="_blank">
        <img class="social-logo" src="assets/socials/twitter.png" alt="Twitter">
      </a>
    </div>
    <div class="social-item">
      <a href="{{ SOCIALS.democraticCenter.link }}" target="_blank">
        <img class="social-logo" src="assets/socials/codemos.png" alt="Democratic Center">
      </a>
    </div>
    <div class="social-item">
      <a href="{{ SOCIALS.instagram.link }}" target="_blank">
        <img class="social-logo" src="assets/socials/instagram.png" alt="Instagram">
      </a>
    </div>
    <div class="social-item">
      <a href="{{ SOCIALS.youTube.link }}" target="_blank">
        <img class="social-logo" src="assets/socials/youtube.png" alt="YouTube">
      </a>
    </div>
  </div>
  <div class="mail-box">
    <span translate>Contact with us</span> : <span class="mail">codemos@demoscity.world</span>
  </div>
</div>
