<div class="authorization-wrapper">
  <div class=" card form-box">
    <form [formGroup]="resetForm">
      <h2 class="form-title" translate>Reset password</h2>

      <div class="form-group">
        <label for="password-field"><span translate class="category">New password</span><cd-asterisk *ngIf="VALIDATIONS.password.required.value"></cd-asterisk></label>
        <input id="password-field" formControlName="password" type="password" class="form-control" name="password" [ngClass]="{'error-input': resetForm.get('password').invalid && resetForm.get('password').touched}">
        <span *ngIf="resetForm.get('password').hasError('required') && resetForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.required.errorMessage }}</span>
        <span *ngIf="resetForm.get('password').hasError('hasntWhiteSpaces') && resetForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.valid.errorMessage }}</span>
        <span *ngIf="resetForm.get('password').hasError('minlength') && !resetForm.get('password').hasError('hasntWhiteSpaces') && resetForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.minLength.errorMessage }}</span>
        <span *ngIf="resetForm.get('password').hasError('maxlength') && !resetForm.get('password').hasError('hasntWhiteSpaces') && resetForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.maxLength.errorMessage }}</span>
        <span *ngIf="resetForm.get('password').hasError('hasAtLeastOneUpper') && !resetForm.get('password').hasError('hasntWhiteSpaces') && !resetForm.get('password').hasError('minlength') && !resetForm.get('password').hasError('maxlength') && !resetForm.get('password').hasError('required') && resetForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.uppercase.errorMessage }}</span>
      </div>

      <div class="form-group">
        <label for="confirm-field"><span translate class="category">Confirm Password</span><cd-asterisk *ngIf="VALIDATIONS.confirmPassword.required.value"></cd-asterisk></label>
        <input id="confirm-field" formControlName="confirm" type="password" class="form-control" name="confirm" [ngClass]="{'error-input': resetForm.get('confirm').invalid && resetForm.get('confirm').touched}">
        <span *ngIf="resetForm.get('confirm').hasError('required') && resetForm.get('confirm').touched" class="error" translate>{{ VALIDATIONS.confirmPassword.required.errorMessage }}</span>
        <span *ngIf="resetForm.get('confirm').hasError('controlsMatch') && resetForm.get('confirm').touched" class="error" translate>{{ VALIDATIONS.confirmPassword.match.errorMessage }}</span>
      </div>

      <div class="buttons-actions">
        <button (click)="onSubmit()" type="click" [disabled]="!resetForm.valid || isLocked" class="btn btn-outline" translate>
          {{ LABELS.SUBMIT }}
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="showError" class="error-message" translate>{{ LABELS.RESET_ERROR }}</div>
</div>
