@import '../base/mixin',
'../abstracts/colors',
'../abstracts/variables',
'../components/helpers';

$header-mobile: 30px;

.card {
  letter-spacing: 0.6px;
  font: normal 14px/1.3 $main-font;

  @include for-tablet-portrait-up {
    font-size: 16px;
  }

  &-header {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 30px;
    font-family: $bold;

    .card-description {
      margin: 0 0 5px;
      font: normal 18px/1 $bold;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-category,
  &-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-wrapper {
    padding: 5px 10px 20px;
  }

  &-edit {
    @include position(absolute, 0 null null 0);
    width: 50px;
    z-index: 2;
    padding: 10px;

    &:hover {
      opacity: 0.6;
    }
  }

  &-logo {
    img {
      width: 40px;
      max-height: 100% !important;
      height: auto !important;
    }

    margin-right: 10px;
  }

  &-category {
    font-size: 26px;
    line-height: 1;
    margin: 0 0 5px;
    text-transform: uppercase;
  }

  &-img {
    position: relative;
    padding-bottom: 38%;
    margin: 10px 0;
    @extend .clearfix;
    overflow: hidden;

    &-container {
      position: absolute;
      height: 100%;
      overflow: hidden;
      min-width: 100%;
      > img {
        @include position(absolute, 0 0 0 0);
        width: 100%;
        height: auto;
        max-width: 100%;
        border: none;
      }
    }

    &:before {
      content: '';
      @include position(absolute, null 0 0 0);
      height: 80px;
      background-image: linear-gradient(to top, rgba($white, 1), rgba($white, 0));
      z-index: 1;
    }
  }

  &-body {
    padding: 0 20px 20px;
    max-height: 100%;
    overflow-y: visible;

    @include for-desktop-up {
      max-height: 600px;
    }

    &.edit-mode {
      @include for-desktop-up {
        max-height: 100%;
      }
    }
  }

  &-creator {
    font: 17px/1.3 $bold;
    color: #53575a;
    letter-spacing: 1px;

    a {
      @extend .border-animation;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    padding-left: 0 !important;
    border-radius: 0 !important;
    border: none;
    min-height: 40px;
    background: transparent;
    border-bottom: 2px solid map-get($form-colors, lightgrey);
    margin-bottom: 10px;
    letter-spacing: 0.6px;
    font: normal 16px/1 $light;

    @include placeholder {
      color: map-get($form-colors, lightgrey);
    }
    color: $def-font-color;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    &:hover,
    &:enabled:hover {
      border-bottom: 2px solid map-get($form-colors, lightgrey);
    }

    &:disabled,
    &:read-only {
      opacity: 0.8;
      cursor: default;
      user-select: none;
      border-bottom: 2px solid map-get($form-colors, lightgrey) !important;
    }

    &:valid {
      border: none;
      border-bottom: 2px solid map-get($form-colors, lightgrey);
    }

    &[required] {
      border-bottom: 2px solid red;
    }

  }

  textarea {
    height: 40px;
    resize: vertical;
    max-height: 150px;
    overflow: hidden;
  }

  .capacity {
    &-field {
      border: none !important;
      color: map-get($colors, green) !important;
      font: 20px/1.3 $medium !important;
      padding: 0 !important;
      min-height: auto !important;
      text-align: right;
      margin: 0 !important;

      @include placeholder {
        color: map-get($colors, green) !important;
        font: 20px/1.3 $medium !important;
      }

      &-wrapper {
        width: 100%;
      }

      &-container {
        padding-right: 20px;
        position: relative;
        color: map-get($colors, green);
        font: 20px/1.3 $medium;

        &:before {
          content: '';
          @include position(absolute, 50% 0 null null);
          width: 24px;
          height: 24px;
          transform: translateY(-50%);
          background: url('../assets/svg/man.svg');
        }
      }
    }

    &-suggested {
      font-style: italic;
      font-family: $light;
      color: map-get($form-colors, lightgrey);
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

.arrow-hint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: $header-mobile;

  span {
    cursor: pointer;
    padding: 15px;
  }

  img {
    max-width: 20px;
    transform: rotate(180deg);
  }
}

.btn-resize {
  width: 40px;
  @include position(absolute, 0 50px null null);
  z-index: 20;
  padding: 15px 10px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in;

  img {
    width: 100%;
  }
}
