@import '../abstracts/colors';

.page {
  &-wrapper {
    padding: 0 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100vh;
    min-height: 100%;
    background: $bg-white;
  }

  &-inner {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
  }
}
