@import '../base/mixin';

.cesium-credit-lightbox-mobile {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateX(50px) translateY(-50%) !important;
  width: auto !important;
  min-width: 200px !important;
  height: auto !important;
}
