@import '../abstracts/variables';

a.btn {
  text-decoration: none;
}

.btn {
  font: bold 14px/0.89 $bold !important;
  letter-spacing: normal;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  height: 38px;
  cursor: pointer;
  margin: {
    bottom: 5px;
    right: 10px;
    top: 5px;
  }
  display: flex;
  align-items: center;
  padding: 0 13px;
  background-repeat: no-repeat;
  white-space: nowrap;
  border: none;

  @include for-tablet-portrait-up {
    font-size: 18px !important;
  }

  &:not([disabled]):hover {
    background-color: #fff;
  }

  &-outline {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26), 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    background-size: 18px 18px;
    background-position: 15px 9px;

    span {
      padding-left: 25px;
    }

    &:not([disabled]):hover {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26), 0 1px 4px 0 rgba(0, 0, 0, 0.08);
      background-color: #eee;
      color: inherit;
    }

    //&:not([disabled]):focus {
    //  background-color: #fff;
    //  box-shadow: none;
    //}
  }

  &-next {
    margin: {
      right: 0;
      left: 15px;
    }
    padding-right: 25px;
    float: right;

    background-image: url('../assets/svg/next.svg');
    background-size: 18px 18px;
    background-position: right top 9px;

    &-container {
      flex: 1 0 auto;
    }
  }

  &-back {
    padding-left: 25px;
    background-image: url(../assets/svg/back.svg);
    background-size: 18px 18px;
    background-position: 5px 9px;
    background-color: transparent;

    &:hover {
      background-color: transparent !important;
    }
  }

  &-logout {
    padding-left: 25px;
    background-image: url(../assets/svg/logout.svg);
    background-size: 18px 18px;
    background-position: 5px 9px;
    background-color: transparent;

    &:hover {
      background-color: transparent !important;
    }
  }

  &-login {
    padding-left: 25px;
    background-image: url(../assets/svg/login.svg);
    background-size: 18px 18px;
    background-position: 5px 9px;
    background-color: transparent;

    &:hover {
      background-color: transparent !important;
    }
  }

  &-delete {
    color: #777777;
    float: left;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    span {
      padding-left: 25px;
    }

    background-image: url('../assets/svg/delete.svg');
    background-size: 16px 17px;
    background-position: 15px 9px;
  }

  &-submit-vote {
    background-image: url('../assets/svg/submit-vote.svg');
  }

  &-save {
    background-image: url('../assets/svg/save.svg');
    float: right;
    margin: {
      left: 15px;
      right: 0;
    }
  }

  &-vote {
    background-image: url('../assets/svg/vote-icon.svg');
  }

  &-share {
    background-image: url('../assets/svg/share-icon.svg');
  }

  &-cancel {
    padding-left: 15px;
    margin-right: 0;

    background-image: url('../assets/svg/cancel.svg');
    background-size: 16px 17px;
  }

  &-panel {
    @extend .clearfix;
  }
}


.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-divider {
  flex-grow: 1;
  width: 100%;
}
