@import '../components/helpers';

.marker-container {
  border-radius: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;

    //implement to class
    @extend %pulse-shadow;
  }

}

.location-icon-container {
  width: 30px;
}

.project-icon-container {
  width: 46px;
  height: 46px;
}

.location-marker {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.project-icon {
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}
