<p-dropdown
  [style]="{'width': '100%'}"
  [options]="languages"
  [(ngModel)]="selectedLanguage"
  (onChange)="changeLanguage($event)"
  class="language-dropdown"
>
  <ng-template let-item pTemplate="selectedItem">
    <img
      [src]="'assets/flags/'+item.value+'.png'"
      [srcset]="'assets/flags/'+item.value+'.png , assets/flags/'+item.value+'@2x.png 2x'"
      class="flag"
      style="vertical-align: middle"
    >
    <span style="vertical-align: middle">{{ item.value }}</span>
  </ng-template>

  <ng-template let-item pTemplate="item">
    <div class="ui-helper-clearfix">
      <img
        [src]="'assets/flags/'+item.value+'.png'"
        [srcset]="'assets/flags/'+item.value+'.png , assets/flags/'+item.value+'@2x.png 2x'"
        class="flag"
      >
      <div class="language-title">{{ item.value }}</div>
    </div>
  </ng-template>
</p-dropdown>
