@import '../../../../scss/abstracts/colors',
'../../../../scss/base/mixin',
'../../../../scss/abstracts/variables';

:host /deep/ {
  .language-dropdown {
    .ui-dropdown {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid map-get($form-colors, grey);
      margin: 0 auto;
      background: $white;

      &-label {
        position: relative;
        padding: 5px 25px 5px 13px;
        border-radius: 0;
        outline: none;

        &:before {
          content: '';
          @include position(absolute, 50% 10px null null);
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;

          border-top: 7px solid map-get($form-colors, grey);
          pointer-events: none;
        }
      }

      &-trigger {
        display: none;
      }

      &-item {
        padding: 3px;
        transition: 0.3s ease-in-out;
        line-height: 20px;
        position: relative;

        .flag {
          float: left;
          position: relative;
          top: 4px;
        }

        .language-title {
          float: right;
        }

        &:not(.ui-state-highlight):hover {
          background: map-get($form-colors, lightgrey);
          border-color: map-get($form-colors, lightgrey);
        }
      }
    }

    .ui-state-highlight {
      background: map-get($form-colors, dark);
    }
  }
}
