<div class="rating medium star-icon" [ngClass]="'value-' + rating">
  <div class="star-container">
    <div>
      <div class="star-rating" *ngIf="filledStars.length > 0">
        <div class="star star-rating" *ngFor="let star of filledStars">
          <i class="star-filled"></i>
        </div>
      </div>
      <div class="star-rating" *ngIf="notFilledStars.length > 0">
        <div class="star star-rating" *ngFor="let star of notFilledStars">
          <i class="star-empty"></i>
        </div>
      </div>
    </div>
  </div>
</div>
