@import '../../../../../../../scss/components/helpers';

:host /deep/ {
  .event-dialog {
    .ui-dialog {
      @extend %project-dialog;
    }

    &.open {
      .ui-dialog {
        @extend %project-dialog-open;

      }
    }

    .with-date .ui-dialog-content {
      overflow: visible !important;
    }
  }
}
