@import '_mixin.scss';

html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  //-webkit-overflow-scrolling: touch;
}

body {
  min-width: 320px;
  color: $def-font-color;
  font: normal 16px/1.1 $main-font;
  overflow: hidden;
  //@include position(fixed, 0 0 0 0);
  //-webkit-overflow-scrolling: touch;

  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font variant */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

button {
  border-style: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.33s ease-in-out;

  &:disabled {
    opacity: 0.35 !important;
    cursor: default !important;
  }

}

a {
  color: black;
}

img {
  height: auto;
}
