/* Add Quicksand font */

@font-face {
  font-family: 'quicksandbold';
  src: url('../assets/fonts/quicksand-bold-webfont.eot');
  src: url('../assets/fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/quicksand-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/quicksand-bold-webfont.woff') format('woff'),
  url('../assets/fonts/quicksand-bold-webfont.ttf') format('truetype'),
  url('../assets/fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandlight';
  src: url('../assets/fonts/quicksand-light-webfont.eot');
  src: url('../assets/fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/quicksand-light-webfont.woff2') format('woff2'),
  url('../assets/fonts/quicksand-light-webfont.woff') format('woff'),
  url('../assets/fonts/quicksand-light-webfont.ttf') format('truetype'),
  url('../assets/fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandmedium';
  src: url('../assets/fonts/quicksand-medium-webfont.eot');
  src: url('../assets/fonts/quicksand-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/quicksand-medium-webfont.woff2') format('woff2'),
  url('../assets/fonts/quicksand-medium-webfont.woff') format('woff'),
  url('../assets/fonts/quicksand-medium-webfont.ttf') format('truetype'),
  url('../assets/fonts/quicksand-medium-webfont.svg#quicksandmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandregular';
  src: url('../assets/fonts/quicksand-regular-webfont.eot');
  src: url('../assets/fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/quicksand-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/quicksand-regular-webfont.woff') format('woff'),
  url('../assets/fonts/quicksand-regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
