@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}



// Print position coords only.
// https://gist.github.com/brianmcallister/3641867
//
// $values - Position values. Null values get skipped over.
@mixin pos-coords($values: null null null null) {
  $position-list: top right bottom left;
  $count: 1;

  @if length($values) == 1 and $values == 'reset' {
    $values: auto auto auto auto;
  }

  @each $value in $values {
    @if $value == 'auto' or $value != null {
      $pos: nth($position-list, $count);
      #{$pos}: $value;
    }
    $count: $count + 1;
  }
}

// Reset position coords mixin.
@mixin reset-coords() {
  @include pos-coords('reset');
}

// Position mixin.
//
// $type     - Position type.
// $values   - List of position values. Null values get skipped over.
// $z-index  - Optional z-index value.
@mixin position($type: relative, $values: null null null null, $z-index: '') {
  position: $type;

  @if $type != 'static' and $type != 'inherit' {
    @include pos-coords($values);

    @if $z-index != '' {
      z-index: $z-index;
    }
  }
}


// BREAKPOINTS -------------------------------------------------
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}


/// Mixin to place items on a circle
/// @author Hugo Giraudel
/// @author Ana Tudor
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}


@mixin size($size) {
  width: $size;
  height: $size;
  transition: all 0.3s ease-in-out;
}
