/deep/ {
  .submit-dialog {
    &.ui-dialog {
      max-width: 550px !important;
      width: 100% !important;

      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      margin: 0 !important;
      z-index: 1004 !important;
    }

    .buttons-actions {
      flex-wrap: wrap;
    }
  }
}
