<p-dialog
  *ngIf="showDialog && overlay"
  [visible]="showDialog"
  [positionLeft]="positionLeft"
  [positionTop]="positionTop"
  [appendTo]="overlay"
  [width]="width"
  (onHide)="onCancel()"
  [styleClass]="'submit-dialog'"
>

  <p-header translate>
    <div class="card-header">
      <h1 class="card-category text-bold" translate>{{ headerText }}</h1>
    </div>
  </p-header>

  <div class="card card-body" translate>
    <p translate>{{ confirmationText }}</p>

    <div class="buttons-actions">
      <button class="btn btn-outline btn-submit-vote" type="submit"
              (click)="onConfirm()" [disabled]="isLocked"><span translate>{{ confirmButtonText }}</span></button>
      <button class="btn btn-outline btn-cancel" type="button" (click)="onCancel()"><span translate>{{ cancelButtonText }}</span></button>
    </div>

  </div>

</p-dialog>
