<span class="category"><span translate>Capacity:</span></span>
<div class="capacity-field-container">
  <input id="capacity-field"
         [(ngModel)]="value"
         type="text"
         onlyNumbers
         autocomplete="off"
         [maxlength]="constraint.maxLength.value"
         name="capacity"
         class="capacity-field"
         [ngClass]="{'error-input': control.invalid && control.touched}">
</div>

<cd-validation-messages
  class="validation-messages-wrapper"
  *ngIf="control.touched"
  [control]="control"
  [validationsObject]="constraint"
></cd-validation-messages>

