<div class="location-details">
  <div *ngIf="showLocationModal && !!location">
    <div [ngClass]="{'dialog-overlay': toggle}"></div>
    <div [ngClass]="{'dialog-container': toggle}">
      <p-dialog
        *ngIf="!!location && showLocationModal"
        class="location-details"
        [visible]="!!location && showLocationModal"
        (onHide)="onHide()"
        [resizable]="false"
        [draggable]="true"
        [positionLeft]="dialogPositionLeft"
        [positionTop]="dialogPositionTop"
        [ngClass]="{'open': toggle}"
      >
        <p-header>
          <div class="btn-resize" (click)="doToggle()">
            <img src="assets/svg/down.svg" alt="resize">
          </div>
          <div class="card-header">
            <div class="card-logo" (click)="doToggle()">
              <img src="assets/svg/location-icon.svg" alt="location">
            </div>
            <div class="card-info">
              <h1 (click)="doToggle()" class="card-category text-bold" translate>{{ labels.HEADER }}</h1>
              <div (click)="doToggle()" class="card-description text-bold text-truncate" translate>
                More details about it
              </div>
            </div>
          </div>
        </p-header>
        <div class="card location-body">
          <div class="info-item">
            {{ location.address }}
          </div>
          <div class="info-item card-creator">
            <a [routerLink]="[routes.profile + '/' + location.creator.id]">
              {{ location.creator.firstName + ' ' + location.creator.lastName }}
            </a>
          </div>
          <div class="info-item">
            <ul class="coordinates">
              <li class="coordinate-line"><span translate>Latitude:</span><span>{{ location.coordinates.latitude }}</span>
              </li>
              <li class="coordinate-line"><span translate>Longitude:</span><span>{{ location.coordinates.longitude }}</span>
              </li>
            </ul>
          </div>

          <!--Public projects-->
          <div *ngIf="location.projects && location.projects.length > 0">
            <div class="projects">
              <!--project item-->
              <div class="projects-item">
                <div class="projects-header">
                  <div class="projects-logo" *ngIf="projectType">
                    <img [src]="projectType.url" alt="svg">
                  </div>
                  <div class="projects-title">
                    <h3 class="category" translate>{{ projectType?.name + ':' | titlecase }}</h3>
                  </div>
                </div>
                <ul class="projects-list">
                  <li class="projects-list-item" *ngFor="let project of location.projects">
                    <a (click)="openProject(project.id)">{{ project.name }}</a>
                    <span *ngIf="project.wonVoting" class="winner">
                    <i class="fa fa-star"></i>
                </span>
                  </li>
                </ul>
              </div>
              <!--project item-->
            </div>
          </div>

          <!--Events-->
          <div *ngIf="location.events && location.events.length > 0">
            <div class="projects">
              <!--project item-->
              <div class="projects-item">
                <div class="projects-header">
                  <div class="projects-logo" *ngIf="projectType">
                    <img [src]="projectType.url" alt="svg">
                  </div>
                  <div class="projects-title">
                    <h3 class="category" translate>
                      {{ projectType?.name + 's:' | titlecase }}
                    </h3>
                  </div>
                </div>
                <ul class="projects-list">
                  <li class="projects-list-item" *ngFor="let event of location.events">
                    <a (click)="openEvent(event.id)">{{ event.name }}</a>
                    <span *ngIf="event.wonVoting" class="winner">
                    <i class="fa fa-star"></i>
                  </span>
                  </li>
                </ul>
              </div>
              <!--project item-->
            </div>
          </div>

          <!--Messages-->
          <div *ngIf="location.messages && location.messages.length > 0">
            <div class="projects">
              <!--project item-->
              <div class="projects-item">
                <div class="projects-header">
                  <div class="projects-logo" *ngIf="projectType">
                    <img [src]="projectType.url" alt="svg">
                  </div>
                  <div class="projects-title">
                    <h3 class="category" translate>
                      {{ projectType?.name + 's:' | titlecase }}
                    </h3>
                  </div>
                </div>
                <div class="projects-list" *ngFor="let message of location.messages">
                  <div class="projects-list-item">
                    <a (click)="openIdea(message.id)">{{ message.name }}</a>
                  </div>
                </div>
              </div>
              <!--project item-->
            </div>
          </div>
          <div class="buttons">
            <!--Buttons-->
            <button *ngIf="canEdit()" (click)="removeLocation()" class="btn btn-delete" type="button">
              <span translate>{{ labels.DELETE }}</span>
            </button>
          </div>
        </div>
        <div class="card location-footer">
          <div id="disqus_thread"></div>
        </div>
      </p-dialog>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
