@import '../../../../../../scss/components/helpers',
'../../../../../../scss/abstracts/variables',
'../../../../../../scss/base/mixin';

:host /deep/ {
  .location-details {
    .ui-dialog {
      @extend %project-dialog-location;

      @media screen and (max-width: 1280px) {
        .btn-resize {
          pointer-events: none;
          opacity: 0;
        }
      }
    }

    &.open {
      .ui-dialog {
        @extend %project-dialog-location-open;

        @media screen and (max-width: 900px) {
          .btn-resize {
            pointer-events: auto;
            opacity: 1;
            transform: rotate(0);
          }
        }
      }
    }

  }

  .dialog-container {
    z-index: 200 !important;
  }
}

%project-dialog-location {
  touch-action: manipulation;
  z-index: 1000 !important;

  @media screen and (max-width: 900px) {
    transform: translateX(-50%) translateY(100%) translateY(-#{$location-head-height}) translateZ(0) !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-left: 50%;
  }

  @include for-tablet-portrait-up {
    width: 100vw !important;
  }

  @include for-phone-only {
    width: calc(100vw - 20px) !important;
  }

  @media screen and (max-width: 1280px) {
    .btn-resize {
      pointer-events: none;
      opacity: 0;
    }

    .card {
      &-logo,
      &-category,
      &-description {
        cursor: pointer;
      }

      &-header {
        padding-right: 30px;
      }
    }
  }

  &-open {
    @media screen and (max-width: 1280px) {
      position: static !important;
      transform: translateX(-50%) translateY(0)  translateZ(0) !important;
      margin: {
        top: 20px;
        bottom: 20px;
        left: 50%;
      }
    }

    @include for-tablet-portrait-up {
      width: 100vw !important;
    }

    @include for-phone-only {
      width: calc(100vw - 20px) !important;
    }

    @media screen and (max-width: 1280px) {
      .btn-resize {
        pointer-events: auto;
        opacity: 1;
      }

      .card {
        &-logo,
        &-category,
        &-description {
          cursor: default;
        }

        &-header {
          padding-right: 80px;
        }
      }
    }
  }
}

.location-body, .location-footer {
  padding: 5px 10px;

  @include for-desktop-up {
    max-height: 600px;
    overflow-y: auto;
  }
}

.coordinate-line {
  display: block;

  span {
    margin-left: 5px;
  }
}

.coordinates {
  margin: 0;
  padding: 0;
  list-style: none;
}

.coord {
  display: block;
  margin-bottom: 5px;
}

.projects {
  &-item {
    margin-bottom: 10px;
  }

  &-header {
    @extend .clearfix;
  }

  &-logo {
    margin-right: 10px;
    float: left;

    img {
      width: 20px;
      max-height: 100%;
      height: auto;
    }
  }

  &-title {
    float: left;
    width: calc(100% - 40px);

    .category {
      margin: 0;
    }
  }

  &-list {
    padding-left: 30px;
    margin: 0;
    list-style: none;

    &-item {
      margin-bottom: 5px;
      position: relative;
      cursor: pointer;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
        text-decoration: none !important;
        border-bottom: 1px solid;
        transition: border-bottom-color .3s ease-in-out;

        &:hover,
        &:active {
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.btn-delete:hover,
.btn-delete:focus {
  background: url('../assets/svg/delete.svg') 15px 9px no-repeat;
  background-size: 16px 17px;
  color: #777777;
}

.project-wrapper {
  max-height: 100vh;
  overflow-y: auto;
}

.winner {
  color: #ffd700;
  @include position(absolute, 1px null null -18px);
}
