<div class="authorization-wrapper">
  <div class="form-logo">
    <img src="assets/logo.png" alt="Codemos">
    <div class="logo-title">codemos</div>
  </div>
  <h1 class="welcome-text" translate>
    Welcome to Codemos World, <br> you need to register to access the platform
  </h1>
  <div class="card form-box">
    <form (submit)="onSubmit($event)" [formGroup]="registerForm" class="form-box-container">
      <h2 class="form-title" translate>Register</h2>
      <h3 class="mandatory-help" translate>Only fields marked with * are mandatory.</h3>
      <div class="form-group">
        <label for="firstName-field"><span translate class="category">First Name</span><cd-asterisk *ngIf="VALIDATIONS.firstName.required.value"></cd-asterisk></label>
        <input trim class="form-control" id="firstName-field" formControlName="firstName" type="text" name="firstName" [ngClass]="{'error-input': registerForm.get('firstName').invalid && registerForm.get('firstName').touched}">
        <span *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched" class="error" translate>{{ VALIDATIONS.firstName.required.errorMessage }}</span>
        <span *ngIf="registerForm.get('firstName').hasError('containsWhiteSpacesOnly') && !registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched" class="error" translate>{{ VALIDATIONS.firstName.valid.errorMessage }}</span>
        <span *ngIf="registerForm.get('firstName').hasError('maxlength') && !registerForm.get('firstName').hasError('containsWhiteSpacesOnly') && registerForm.get('firstName').touched" class="error" translate>{{ VALIDATIONS.firstName.maxLength.errorMessage }}</span>
      </div>

      <div class="form-group">
        <label for="lastName-field"><span translate class="category">Last Name</span><cd-asterisk *ngIf="VALIDATIONS.lastName.required.value"></cd-asterisk></label>
        <input trim class="form-control" id="lastName-field" formControlName="lastName" type="text" name="lastName" [ngClass]="{'error-input': registerForm.get('lastName').invalid && registerForm.get('lastName').touched}">
        <span *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched" class="error" translate>{{ VALIDATIONS.lastName.required.errorMessage }}</span>
        <span *ngIf="registerForm.get('lastName').hasError('containsWhiteSpacesOnly') && !registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched" class="error" translate>{{ VALIDATIONS.lastName.valid.errorMessage }}</span>
        <span *ngIf="registerForm.get('lastName').hasError('maxlength') && !registerForm.get('lastName').hasError('containsWhiteSpacesOnly') && registerForm.get('lastName').touched" class="error" translate>{{ VALIDATIONS.lastName.maxLength.errorMessage }}</span>
      </div>

      <div class="form-group">
        <label for="email-field"><span translate class="category">Email</span><cd-asterisk *ngIf="VALIDATIONS.email.required.value"></cd-asterisk></label>
        <input trim class="form-control" id="email-field" formControlName="email" type="text" name="email" [ngClass]="{'error-input': registerForm.get('email').invalid && registerForm.get('email').touched || emailMustBeUnique}">
        <span *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="error" translate>{{ VALIDATIONS.email.required.errorMessage }}</span>
        <span *ngIf="registerForm.get('email').hasError('validEmail') && !registerForm.get('email').hasError('maxlength') && !registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="error" translate>{{ VALIDATIONS.email.regex.errorMessage }}</span>
        <span *ngIf="registerForm.get('email').hasError('maxlength') && registerForm.get('email').touched" class="error" translate>{{ VALIDATIONS.email.maxLength.errorMessage }}</span>
        <span *ngIf="emailMustBeUnique" class="error">{{ emailMustBeUnique }}</span>
      </div>

      <div class="form-group">
        <label for="password-field"><span translate class="category">Password</span><cd-asterisk *ngIf="VALIDATIONS.password.required.value"></cd-asterisk></label>
        <input class="form-control" id="password-field" formControlName="password" type="password" name="password" [ngClass]="{'error-input': registerForm.get('password').invalid && registerForm.get('password').touched}">
        <span *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.required.errorMessage }}</span>
        <span *ngIf="registerForm.get('password').hasError('hasntWhiteSpaces') && registerForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.valid.errorMessage }}</span>
        <span *ngIf="registerForm.get('password').hasError('minlength') && !registerForm.get('password').hasError('hasntWhiteSpaces') && registerForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.minLength.errorMessage }}</span>
        <span *ngIf="registerForm.get('password').hasError('maxlength') && !registerForm.get('password').hasError('hasntWhiteSpaces') && registerForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.maxLength.errorMessage }}</span>
        <span *ngIf="registerForm.get('password').hasError('hasAtLeastOneUpper') && !registerForm.get('password').hasError('hasntWhiteSpaces') && !registerForm.get('password').hasError('minlength') && !registerForm.get('password').hasError('maxlength') && !registerForm.get('password').hasError('required') && registerForm.get('password').touched" class="error" translate>{{ VALIDATIONS.password.uppercase.errorMessage }}</span>
      </div>

      <div class="form-group">
        <label for="confirm-field"><span translate class="category">Confirm Password</span><cd-asterisk *ngIf="VALIDATIONS.confirmPassword.required.value"></cd-asterisk></label>
        <input class="form-control" id="confirm-field" formControlName="confirm" type="password" name="confirm" [ngClass]="{'error-input': registerForm.get('confirm').invalid && registerForm.get('confirm').touched}">
        <span *ngIf="registerForm.get('confirm').hasError('required') && registerForm.get('confirm').touched" class="error" translate>{{ VALIDATIONS.confirmPassword.required.errorMessage }}</span>
        <span *ngIf="registerForm.get('confirm').hasError('controlsMatch') && registerForm.get('confirm').touched" class="error" translate>{{ VALIDATIONS.confirmPassword.match.errorMessage }}</span>
      </div>

      <div class="form-group date-group">
        <label for="date-field"><span translate class="category">Date of birth</span><cd-asterisk *ngIf="VALIDATIONS.birthDate.required.value"></cd-asterisk></label>

        <cd-date-picker
          id="date-field"
          [showTime]="false"
          [styleClass]="'arrow-down'"
          [yearNavigator]="true"
          [yearRange]="'1918:2018'"
          [inputId]="'dateStart-field'"
          [inputStyleClass]="''"
          [formControlName]="'birthDate'"></cd-date-picker>
        <cd-validation-messages
          *ngIf="registerForm.get('birthDate').touched || registerForm.get('birthDate').invalid"
          [control]="registerForm.get('birthDate')"
          [validationsObject]="VALIDATIONS.birthDate"
        ></cd-validation-messages>

      </div>

      <div class="form-group">
        <label for="gender-field"><span translate class="category">Gender</span><cd-asterisk *ngIf="VALIDATIONS.gender.required.value"></cd-asterisk></label>
        <ng-select
          id="gender-field"
          [items]="genders"
          [placeholder]="''"
          [searchable]="false"
          [formControlName]="'gender'"
          bindValue="value"
          bindLabel="text"
          class="select"
        ></ng-select>
      </div>

      <div class="form-group">
        <label for="city-field"><span translate class="category">City</span><cd-asterisk *ngIf="VALIDATIONS.city.required.value"></cd-asterisk></label>
        <input trim class="form-control" id="city-field" formControlName="city" type="text" name="city" [ngClass]="{'error-input': registerForm.get('city').invalid && registerForm.get('city').touched}">
        <span *ngIf="registerForm.get('city').hasError('containsWhiteSpacesOnly') && !registerForm.get('city').hasError('maxlength') && !registerForm.get('city').hasError('required') && registerForm.get('city').touched" class="error" translate>{{ VALIDATIONS.city.valid.errorMessage }}</span>
        <span *ngIf="registerForm.get('city').hasError('maxlength') && registerForm.get('city').touched" class="error" translate>{{ VALIDATIONS.city.maxLength.errorMessage }}</span>
      </div>

      <div class="form-group">
        <label for="address-field"><span translate class="category">Address</span><cd-asterisk *ngIf="VALIDATIONS.address.required.value"></cd-asterisk></label>
        <input trim class="form-control" id="address-field" formControlName="address" type="text" name="address" [ngClass]="{'error-input': registerForm.get('address').invalid && registerForm.get('address').touched}">
        <span *ngIf="registerForm.get('address').hasError('containsWhiteSpacesOnly') && !registerForm.get('address').hasError('required') && !registerForm.get('address').hasError('maxlength') && registerForm.get('address').touched" class="error" translate>{{ VALIDATIONS.address.valid.errorMessage }}</span>
        <span *ngIf="registerForm.get('address').hasError('maxlength') && registerForm.get('address').touched" class="error" translate>{{ VALIDATIONS.address.maxLength.errorMessage }}</span>

      </div>

      <div class="terms-box">
          ​<input class="terms-checkbox" id="terms-field" type="checkbox" formControlName="terms">
          <label for="terms-field">
            <a target="_blank" href="https://s3.eu-central-1.amazonaws.com/prod-codemos-media/static/terms.pdf">
            <span translate>
              {{ VALIDATIONS.terms.agree.errorMessage }}
            </span>
              <cd-asterisk *ngIf="VALIDATIONS.terms.required.value"></cd-asterisk>
            </a>
          </label>
          <span *ngIf="registerForm.get('terms').hasError('required') && registerForm.get('terms').dirty" class="error" translate>{{ VALIDATIONS.terms.shouldAgree.errorMessage }}</span>
      </div>

      <div class="buttons-actions">
        <button type="submit" [disabled]="registerForm.invalid || isLocked" class="btn btn-outline" translate>
          Sign up
        </button>
      </div>
      <div class="link">
        <span translate>Already registered? </span><a [routerLink]="ROUTES.login" class="link-back" translate>Sign in</a>
      </div>
      <cd-social-buttons></cd-social-buttons>
      <div class="link">
        <a [routerLink]="ROUTES.home" class="link-back" translate>Back to Map</a>
      </div>
    </form>
  </div>
  <div class="language-container">
    <cd-language-switcher></cd-language-switcher>
  </div>
  <div class="copyright-container">
    <a class="copyright-label" href="http://www.copyrightfrance.com/phtml/p_logo1_us.php" target="_blank">
      <img src="assets/copyright/unnamed.gif" alt="Copyright">
    </a>
  </div>
</div>
