@import '../../../../scss/abstracts/colors',
'../../../../scss/abstracts/variables',
'../../../../scss/components/helpers',
'../../../../scss/base/mixin';

.form-box {
  max-width: 450px;

  &-container {
    padding: 0 20px 20px;
  }
}

.mandatory-help {
  font-family: $medium;
  color: map-get($form-colors, grey);
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;

  @include for-tablet-portrait-up {
    font-size: 16px;
  }

  @include for-tablet-landscape-up {
    font-size: 18px;
  }
}

.terms-box {
  margin: 10px 0 15px;
  text-align: center;
}

.terms-box .error {
  text-align: left;
}

.logo-title {
  font-size: 40px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.date-group {
  display: block;
  position: relative;
}

.terms-checkbox {
  vertical-align: middle;
}

.language-container {
  padding-top: 10px;
  width: 100px;
}

.helper {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  max-width: 800px;
}


input[type="checkbox"] {
  display: none!important;
}

/*------ 1st checkboxes  ----*/

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}


input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid map-get($form-colors, lightgrey);
  background: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 5px;
  top: 2px;
  left: 2.5px;
  transition: all .5s;
  margin: 0;
  padding: 0;
  border: 2px solid map-get($form-colors, grey);
  border-top: none;
  border-right: none;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0) rotate(-45deg);
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1) rotate(-45deg);
}

input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  opacity: 0.35;
  cursor: default;
}

.link {
  margin-top: 5px;
  text-align: center;

  a {
    @extend .border-animation;
  }

  &-back {
    font-size: 14px;
  }
}
