<div class="default-container welcome">
  <div class="switcher-container">
    <cd-language-switcher></cd-language-switcher>
  </div>

  <div class="blur">
    <div class="blur-container">
      <img class="bg-image" src="assets/images/map_bg.png" alt="">
    </div>
  </div>
  <div class="default-inner welcome-container">

    <h1 class="welcome-title" translate>Welcome to Codemos</h1>
    <div class="welcome-logo">
      <img src="assets/codemos-logo.png" alt="logo">
    </div>
    <h2 class="welcome-subtitle" translate>united in diversity for a smarter democracy</h2>

    <div class="action-buttons">
      <button (click)="goToMapView()" class="btn btn-outline" translate>Let's play!</button>
    </div>

    <a class="welcome-copyright-label" href="http://www.copyrightfrance.com/phtml/p_logo1_us.php" target="_blank">
      <img class="copyright" src="assets/copyright/unnamed.gif" alt="Copyright">
    </a>
  </div>
</div>
