@import '../../../../../../scss/abstracts/variables',
  '../../../../../../scss/abstracts/colors',
  '../../../../../../scss/base/mixin';

.promote-them-container {
  @include position(absolute, null null 10% 50%);
  transform: translateX(-50%);
  z-index: $z-index9;
  text-align: center;
  max-width: 400px;
  width: 100%;
  background:  $white;
  border-radius: $border-dialog;
  padding: 10px;
  box-shadow: $shadow-dialog;
}

.share-label {
  display: inline-block;
  text-align: center;
  margin: 0;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #444;
  font-size: 25px;
  padding: .125em;
}
