@import '../../../../../../../scss/components/helpers';

:host /deep/ {
  .inspire-dialog {
    .ui-dialog {
      @extend %project-dialog;
    }

    &.open {
      .ui-dialog {
        @extend %project-dialog-open;
      }
    }
  }
}
