<div class="page-wrapper">
  <div class="page-inner page-container">
    <div class="logo-container">
      <img src="assets/logo.png" class="logo" alt="Codemos">
      <div class="logo-title">codemos</div>
    </div>
    <cd-reset-password-form></cd-reset-password-form>
  </div>
</div>
