<div [ngClass]="{'dialog-overlay': toggle}"></div>
<div [ngClass]="{'dialog-container': toggle}">
  <p-dialog *ngIf="showProjectDialog && !!project"
            (onHide)="onHide()"
            [ngClass]="{'open': toggle}"
            [visible]="showProjectDialog && !!project"
            [styleClass]="getStyleClass()"
            [draggable]="true"
            [positionLeft]="dialogPositionLeft"
            [positionTop]="dialogPositionTop"
            class="project-details">

    <p-header translate>
      <div class="btn-resize" (click)="toggle = !toggle">
        <img src="assets/svg/down.svg" alt="resize">
      </div>
      <div class="card-header">
        <div class="card-logo" (click)="toggle = !toggle" *ngIf="projectType">
          <img [src]="projectType.url">
        </div>
        <div class="card-info">
          <h1 (click)="toggle = !toggle" class="card-category" translate>{{ header }}</h1>
          <h2 (click)="toggle = !toggle" class="card-description" translate>{{ subHeader }}</h2>
        </div>
      </div>
    </p-header>

    <form class="card project-form" [formGroup]="projectUpdateForm" novalidate>
      <div class="card-img">
        <div class="card-img-container" *ngIf="projectType">
          <img [src]="projectType.bgUrl" alt="map">
        </div>

        <!--edit project-->
        <button *ngIf="canBeModified() && !editMode" (click)="setEditMode()" class="card-edit">
          <img src="assets/svg/edit.svg" alt="edit">
        </button>

        <!--Voting received-->
        <div class="votes" *ngIf="(project.underVoting || project.wonVoting) && !editMode">
          <span class="votes-num">{{ project.votesReceived }}</span>
          <span class="votes-title"><span translate>{{ project.votesReceived === 1 ? 'vote' : 'votes' }}</span></span>
        </div>

        <!--performance-->
        <div *ngIf="(project.performance !== null || project.performance !== undefined) && !editMode"
             class="card-performance-container">
          <span *ngIf="isIE11">{{ project.performance }} {{ project.performance == 1 ? 'Star' : 'Stars' }}</span>
          <cd-star-rating [rating]="project.performance"></cd-star-rating>
        </div>

        <!--project impact-->
        <div *ngIf="project.impact && !editMode" class="impact-info-container" (click)="onShowImpact()">
          <img src="assets/svg/performance-icon.svg" alt=" chart" class="impact-info">
        </div>
      </div>

      <div class="card-body" [ngClass]="{'edit-mode': editMode}">
        <!--Creator-->
        <div class="info-group">
        <span class="card-creator">
          <a [routerLink]="[ROUTES.profile, project.creator.id]">{{ project.creator.firstName + ' ' + project.creator.lastName }}</a>
        </span>
        </div>

        <!--Name-->
        <div *ngIf="canBeModified() && editMode" class="form-group diff-lines">
          <input id="name-field" pInputText formControlName="name" type="text" name="name" class="project-name"
                 [placeholder]="'Project name' | translate"
                 [ngClass]="{'error-input': projectUpdateForm.get('name').invalid && projectUpdateForm.get('name').touched}">

          <cd-validation-messages *ngIf="projectUpdateForm.get('name').touched"
                                  [control]="projectUpdateForm.get('name')"
                                  [validationsObject]="VALIDATIONS.project.name">
          </cd-validation-messages>
        </div>

        <div *ngIf="!editMode" class="info-group">
          <span class="info-item">{{ project.name }}</span>
        </div>

        <!--Address-->
        <div class="info-item">
          {{ project.location.address }}
        </div>

        <!--Description-->
        <div *ngIf="canBeModified() && editMode">
        <textarea pInputTextarea id="description-field" name="description" type="text" formControlName="description"
                  [rows]="5" [placeholder]="'Details (optional)' | translate"
                  [ngClass]="{'error-input': projectUpdateForm.get('description').invalid && projectUpdateForm.get('description').touched}">
        </textarea>

          <cd-validation-messages *ngIf="projectUpdateForm.get('description').touched"
                                  [control]="projectUpdateForm.get('description')"
                                  [validationsObject]="VALIDATIONS.project.description">
          </cd-validation-messages>
        </div>

        <div *ngIf="!editMode && projectUpdateForm.value.description"
             class="info-group desc-wrapper multiline-container">
          <span class="info-item multipleline-box">{{ project.description }}</span>
        </div>

        <!--Subcategory-->
        <div *ngIf="canBeModified() && editMode" class="info-item" translate>
          <ng-select [items]="translatedProjectCategories"
                     [placeholder]="'Project category (select in the menu)' | translate"
                     [formControlName]="'category'"
                     [compareWith]="equals"
                     bindLabel="name"
                     class="select">
          </ng-select>
          <span *ngIf="subcategoryError" class="error">{{ subcategoryError }}</span>
          <cd-validation-messages *ngIf="projectUpdateForm.get('category').invalid"
                                  [control]="projectUpdateForm.get('category')"
                                  [validationsObject]="VALIDATIONS.project.category">
          </cd-validation-messages>
        </div>

        <div *ngIf="!editMode" class="info-group desc-wrapper multiline-container">
          <span class="info-item multipleline-box" translate>{{ project.category.name }}</span>
        </div>

        <!--Capacity-->
        <div *ngIf="canBeModified() && editMode" class="card-row">
          <cd-capacity-field class="capacity-field-wrapper"
                             formControlName="capacity"
                             [control]="projectUpdateForm.get('capacity')"
                             [constraint]="VALIDATIONS.project.capacity">
          </cd-capacity-field>
        </div>

        <div *ngIf="!editMode && projectUpdateForm.value.capacity" class="card-row">
          <span class="category"><span translate>Capacity:</span></span>
          <div class="capacity-result">
            <span class="capacity-field-container"> {{ project.capacity }} </span>
            <span class="capacity-suggested" translate>suggested</span>
          </div>
        </div>

        <!--projects actions-->
        <div class="btn-panel">
          <cd-project-buttons [labels]="LABELS"
                              [disabled]="editMode ? projectUpdateForm.invalid : false"
                              [showSubmit]="isUserCreator() && editMode"
                              [showShare]="!editMode"
                              [showDelete]="canBeModified() && !editMode"
                              [showNext]="!editMode"
                              [showCancel]="editMode"
                              [showSubmitToVote]="canProjectBeSubmittedToVote() && !editMode"
                              [showVote]="canProjectBeVoted()"
                              [isLocked]="isLocked"
                              (share)="share()"
                              (remove)="removeProject()"
                              (next)="nextProject()"
                              (cancel)="onCancel()"
                              (vote)="vote()"
                              (submit)="onSubmit()"
                              (submitToVote)="submitToVote()">
          </cd-project-buttons>
        </div>
      </div>
    </form>
  </p-dialog>

  <cd-project-impact *ngIf="showImpactDialog"
                     [display]="showImpactDialog"
                     [labels]="LABELS"
                     [project]="project"
                     [showSubmitToVote]="canProjectBeSubmittedToVote()"
                     [showVote]="canProjectBeVoted()"
                     [isLocked]="isLocked"
                     (share)="share()"
                     (submitToVote)="submitToVote()"
                     (vote)="vote()"
                     (hide)="onHideImpact()">
  </cd-project-impact>
</div>

