@import '../../../../../../../scss/abstracts/colors',
'../../../../../../../scss/base/mixin',
'../../../../../../../scss/abstracts/variables',
'../../../../../../../scss/components/helpers';

:host /deep/ {
  .project-details {
    .ui-dialog {
      @extend %project-dialog;

      @include for-phone-only {
        max-width: calc(100vw - 20px) !important;
      }
    }

    &.open {
      .ui-dialog {
        @extend %project-dialog-open;

        @include for-phone-only {
          max-width: calc(100vw - 20px) !important;
        }
      }
    }
  }
}



sub {
  font-size: 14px;
}

//styles for forms
.project {

  &-form {
    color: map-get($form-colors, grey);
    font-family: $main-font;
    line-height: 1.3;
    letter-spacing: 0.6px;

    a {
      color: inherit;
      text-decoration: none;
      display: inline-block;
      transition: border-bottom-color 0.25s ease-in-out;
      border-bottom: 1px solid;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.preview-text {
  display: flex !important;
  align-items: center;
  float: left;

  img {
    max-width: 30px;
    margin-left: 10px;
    max-height: 100%;
    height: auto;
  }
}

.error {
  color: red;
  margin: 5px;
}

