<div class="button-wrapper">
  <button class="btn btn-social facebook" type="button"
          (click)="socialSignIn(socialProviders.FACEBOOK)"
          [disabled]="isLocked"></button>
  <button class="btn btn-social google" type="button"
          (click)="socialSignIn(socialProviders.GOOGLE)"
          [disabled]="isLocked"></button>
  <button class="btn btn-social twitter" type="button" *ngIf="!isCordova"
          (click)="socialSignIn(socialProviders.TWITTER)"
          [disabled]="isLocked"></button>
</div>
