@import '../../../../scss/abstracts/colors',
'../../../../scss/abstracts/variables',
'../../../../scss/base/mixin';

.search {
  &-box-container {
    border-radius: $border-dialog;
    background: $bg-white;
    float: left;
    width: calc(100% - 50px);
    z-index: 50 !important;
    touch-action: none;

    @include for-tablet-landscape-up {
      @include position(absolute, 0 null null 50%);
      transform: translateX(-50%) translateY(15px);
      width: 100%;
      max-width: 400px;
      float: none;
    }
  }

  &-container {
    position: relative;
  }

  &-btn {
    @include position(absolute, 50% 2px null null);
    cursor: pointer;
    transform: translateY(-50%);
    width: 45px;
    height: 100%;

    img {
      width: 25px;
      display: block;
      height: 100% !important;
      margin: 0 5px;
    }
  }
}

.ui-inputtext {
  margin: 0;
  box-shadow: 0 0 3px 0 map-get($colors, white) !important;
  width: 100%;
  border-color: map-get($form-colors, dark);
  border-radius: $border-dialog;
  transition: 0.3s ease-in-out;
  padding-right: 35px;

  &:focus,
  &:focus:hover {
    border-color: map-get($form-colors, dark);
  }

  &.error-input,
  &.error-input:focus {
    border: 1px solid red !important;
    font-style: italic;
  }
}

.error {
  margin: 5px !important;
}
