@import '../../../../scss/base/mixin',
'../../../../scss/abstracts/variables',
'../../../../scss/abstracts/colors';

.overall {
  @include for-tablet-landscape-up {
    z-index: 99999 !important;
  }
}

.notification-wrapper {
  @include position(absolute, 0 null null 47%);
  text-align: center;
  min-width: 20%;
  max-width: 50%;
  display: block;
  border: 1px solid #dddddd;
  background: #f6f6f6;
  color: #0073ea;
  border-top: none;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0 0 10px 1px #000;
  z-index: 10;
  padding: 5px;
  overflow: auto;
}

.dogemos {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
  transition: 0.3s ease-in-out;

  @include for-tablet-portrait-up {
    height: 80px;
    width: 80px;
  }

  @include for-tablet-landscape-up {
    width: 100px;
    height: 100px;
  }

  &-wrapper {
    @include position(fixed, 0 15px null null);
    z-index: 10;
    transform: translateY($components-top) translateY(+20px);

    @include for-tablet-landscape-up {
      transform: translateY($components-top);
    }
  }

  &-message {
    display: inline-block;
  }
}

.talk-bubble {
  @include position(absolute, 45px 80px auto auto);
  height: auto;
  background-color: #f6f6f6;
  width: 155px;
  min-height: 70px;
  transition: width 0.3s ease-in-out;
  opacity: 1;
  pointer-events: auto;

  @media screen and (max-width: 900px) {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (min-width: 380px) {
    width: 200px;
  }

  @media screen and (min-width: 480px) {
    width: 300px;
  }

  @include for-tablet-portrait-up {
    min-height: 90px;
    top: 50px;
    right: 100px;
  }

  @include for-tablet-landscape-up {
    right: 125px;
  }
}

.dog-box {
  display: inline-block;
}

.border {
  border: 1px solid #000;
}

.round {
  border-radius: 30px;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  @include position(absolute, -1px -20px null null);
  width: 0;
  height: 0;
  border: 22px solid;
  border-color: #000 transparent transparent transparent;
}

.tri-right.right-top:after {
  content: ' ';
  @include position(absolute, 0 -18px null null);
  width: 0;
  height: 0;
  border: 23px solid;
  border-color: #f6f6f6 transparent transparent transparent;
}

.talktext {
  padding: 15px;
  font-size: 14px/1 $main-font;

  @include for-tablet-portrait-up {
    font-size: 16px;
  }

  p {
    margin: 0;
  }
}

.notification {
  @media screen and (max-width: 900px) {
    opacity: 1;
    pointer-events: auto;
  }

  opacity: 0;
  pointer-events: none;
  @include position(absolute, 0 null null 50%);
  transform: translateX(-50%) translateY(0);
  max-width: 200px;
  padding: 10px;
  border-radius: 0 0 $border-dialog $border-dialog;
  box-shadow: $shadow-dialog;
  background: map-get($colors, white);
  z-index: 10000000 !important;

  font: 14px/1 $main-font;
}
