<div class="dogemos-wrapper" [ngClass]="{'overall' : isVisible()}">
  <div class="dog-box">
    <img (click)="goToPartnersPage()" src="assets/graphism/dogemos/dogemos.png" alt="" class="dogemos">
  </div>
  <div class="talk-bubble tri-right round border right-top" [ngStyle]="{'display' : isVisible() ? '' : 'none'}">
    <div class="talktext">
      <p>{{ getMessage() | translate }}</p>
    </div>
  </div>
</div>
<div class="notification" *ngIf="getMessage()"
     [ngStyle]="{'transform' : isVisible() ? '' : 'translateY(-115%) translateX(-50%)', 'box-shadow' : isVisible() ? '' : 'none'}">
  {{ getMessage() | translate }}
</div>

