<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= APP_BASE %>assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= APP_BASE %>assets/favicon/favicon-codemos-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= APP_BASE %>assets/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= APP_BASE %>assets/favicon/favicon-codemos-16x16.png">
  <link rel="manifest" href="<%= APP_BASE %>assets/favicon/site.webmanifest.json">
  <link rel="mask-icon" href="<%= APP_BASE %>assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="<%= APP_BASE %>assets/favicon/favicon-codemos.ico">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-TileImage" content="<%= APP_BASE %>assets/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="<%= APP_BASE %>assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- inject:css -->
  <!-- endinject -->

  <style>
    html, body {
      overflow-y: scroll;
    }

    .splash-wrapper {
      position: absolute;
      z-index: 0;
      background: #000;
      overflow-y: hidden;
    }

    .welcome-container {
      overflow-y: auto;
      width: 100vw;
    }

    .welcome-logo {
      transform-style: preserve-3d;
      animation: rotation 5s linear infinite;
      padding: 0 15px;
      max-width: 200px;
      margin: 0 auto;
      transition: max-width 0.3s ease-in-out;
    }

    .welcome-logo img {
      max-width: 100%;
    }

    .welcome-title {
      font-size: 28px;
      margin: 10px 0;
    }

    .welcome-subtitle {
      font-size: 18px;
      margin: 20px 0;
    }

    .welcome-loading {
      font-size: 16px;
      margin: 20px 0;
    }

    .welcome-copyright-label {
      margin-top: 20px;
    }

    .copyright {
      margin-top: 20px;
    }

    @media (min-width: 600px) {
      .welcome-title {
        font-size: 32px;
      }

      .welcome-logo {
        max-width: 250px;
      }
    }

    @media (min-width: 900px) {
      .welcome-logo {
        max-width: 350px;
      }

      .welcome-title {
        font-size: 40px;
      }

      .welcome-subtitle {
        font-size: 20px;
      }

      .welcome-loading {
        font-size: 17px;
      }
    }

    @media (min-width: 1200px) {
      .welcome-logo {
        max-width: 100%;
      }

      .welcome-title {
        font-size: 48px;
      }

      .welcome-subtitle {
        font-size: 30px;
      }

      .welcome-loading {
        font-size: 24px;
      }
    }

    @media (min-height: 790px) {
      .welcome-copyright-label {
        position: fixed;
        z-index: 2;
        bottom: 15px;
        margin-left: -54px;
        cursor: pointer;
      }
    }

    @keyframes rotation {
      0% {
        transform: rotateY(0deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }
  </style>
</head>
<body>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v3.2'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- Your customer chat code -->
  <div class="fb-customerchat"
    attribution=setup_tool
    page_id="259832708095764">
  </div>

  <sd-app>
    <div class="default-container splash-wrapper">
      <div class="blur">
        <div class="blur-container">
          <img src="assets/images/map_bg.png" alt="">
        </div>
      </div>
      <div class="default-inner welcome-container">
        <h1 class="welcome-title">Welcome to Codemos</h1>
        <div class="welcome-logo">
          <img src="assets/codemos-logo.png" alt="logo">
        </div>
        <h2 class="welcome-subtitle">united in diversity for a smarter democracy</h2>
        <h3 class="welcome-loading">Loading...</h3>
        <a class="welcome-copyright-label" href="http://www.copyrightfrance.com/phtml/p_logo1_us.php" target="_blank">
          <img class="copyright" src="assets/copyright/unnamed.gif" alt="Copyright">
        </a>
      </div>
    </div>
  </sd-app>

  <script defer>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= GOOGLE_ANALYTICS_ID %>', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (IS_CORDOVA) { %>
  <script src="<%= APP_BASE %>cordova.js"></script>
  <% } %>

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
    });
  </script>
  <% } %>
  
  <script>
    var disqus_config = function() {
      this.page.url = window.location.origin + '/welcome';
      this.page.identifier = 'welcome';
      this.page.title = "Welcome to Codemos";
    }
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>
</html>
