@import '../../../../scss/abstracts/variables',
'../../../../scss/base/mixin';

.score {
  &-container {
    display: flex;
    margin-bottom: 5px;
    z-index: 1;
    position: relative;

    @include for-tablet-portrait-up {
      justify-content: center;
    }
  }

  &-profile {
    display: flex;
    align-items: center;
    font: 25px/1 $bold;
  }

  &-result {
    position: relative;
    top: 3px;
  }
}

.codecoin {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
