:host {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
}

#main-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .warning {
    position: absolute;
    z-index: 10000;
    top: 0;
    display: table;
    min-height: 45px;
    width: 100%;
    background: #777777;
    visibility: hidden;

    &-text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      font-weight: bold;
      color: #FFFFFF;
    }

    &-icon {
      margin-right: 10px;
      color: #e55c27;
      font-size: 18px;
    }

    &-overlay {
      visibility: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.show,
    &-overlay.show {
      visibility: visible;
    }
  }

}

