<div id="main-wrapper">
  <div class="warning-overlay" [ngClass]="{show: showWarning}"></div>
  <div class="warning" [ngClass]="{show: showWarning}">
    <div class="warning-text" translate>
      <i class="warning-icon fa fa-exclamation-triangle" aria-hidden="true"></i>No Internet connection
    </div>
  </div>

  <div *ngIf="isBusy" class="loading-indicator-wrapper">
    <cd-loading-indicator></cd-loading-indicator>
  </div>

  <router-outlet></router-outlet>
</div>
